<a href="https://colab.research.google.com/github/AkashSalmuthe/Python-Noteboks/blob/main/7_List_Comprehension.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# <u> What are list comprehensions? </u>

## List comprehensions are a tool for transforming one list (any iterable actually) into another list. During this transformation, elements can be conditionally included in the new list and each element can be transformed as needed.

## List comprehensions in Python are great, but mastering them can be tricky because they donâ€™t solve a new problem: they just provide a new syntax to solve an existing problem.

## <u> From loops to comprehensions</u>

### <b>Every list comprehension can be rewritten as a <code>for</code> loop but not every <code>for</code> loop can be rewritten as a list comprehension </b>.The key to understanding when to use list comprehensions is to practice identifying problems that smell like list comprehensions. If you can rewrite your code to look just like this <code>for</code> loop, you can also rewrite it as a list comprehension:

## Let us take an example of getting the squares of the numbers in a list

In [ ]:
# The list of numbers
list_of_numbers = [1, 2, 4, 6, 11, 14, 17, 20]

### The usual way to do this using <code>for</code> loop is described below:

In [ ]:
# Let us first initialize a list where we will be appending the squares in each iteration

squared_numbers = []

for number in list_of_numbers:
  # Use the append method to add the numbers one by one to our list
  squared_numbers.append(number**2)
  # print(squared_numbers)

print(f"The list of squared numbers is {squared_numbers}")

The list of squared numbers is [1, 4, 16, 36, 121, 196, 289, 400]

## We can do the same task using a list comprehension

In [ ]:
# Getting the list of squares using list comprehension
squared_numbers = [number**2 for number in list_of_numbers]
print(squared_numbers)

[1, 4, 16, 36, 121, 196, 289, 400]

## Further we can go ahead and use some conditionals. 
### Suppose we wanted to get the squares of only those numbers which are even

In [ ]:
print(list_of_numbers)

[1, 2, 4, 6, 11, 14, 17, 20]

In [ ]:
# Writing list comprehension using conditionals
even_squared_numbers = [number**2 for number in list_of_numbers if number%2==0]
print(even_squared_numbers)

[4, 16, 36, 196, 400]

In [ ]:
# Writing list comprehension using conditionals
odd_squared_numbers = [number**2 for number in list_of_numbers if number%2!=0]
print(odd_squared_numbers)

[1, 121, 289]

In [ ]:
new_numbers = [number**2 for number in list_of_numbers if number%2!=0 else number**3]
print(new_numbers)

SyntaxError: ignored

In [ ]:
# Writing list comprehension using conditionals
odd_squared_numbers = [number**2 if number%2!=0 else number**3 for number in list_of_numbers ]
print(odd_squared_numbers)

[1, 8, 64, 216, 121, 2744, 289, 8000]

## A list comprehension consists of the following parts:

* An Input Sequence.
* A Variable representing members of the input sequence.
* An Optional Predicate expression.
* An Output Expression producing elements of the output list from members of the Input Sequence that satisfy the predicate.

![List Comprehension.PNG]()

* #### The iterator part iterates through each member <code>number</code> of the input sequence <code>list_of_numbers</code>.
* #### The predicate checks if the member is even.
* #### If the member is even then it is passed to the output expression, squared, to become a member of the output list.

## <u> Using <code>for</code> loop </u>    
    even_squared_numbers = []

    for number in list_of_numbers:
      if number%2 == 0:
        even_squared_numbers.append(number**2)

## <u> Using list comprehension </u>

    even_squared_numbers = [number**2 for number in list_of_numbers if number%2==0] 

## So how did we convert our <code>for</code> loop into a list comprehension?
* Copying the variable assignment for our new empty list
* Copying the expression <code>number**2</code> that weâ€™ve been appending into this new list
* Copying the for loop line, excluding the final <code>:</code>
* Copying the if statement line, also without the <code>:</code>



# <u> Writing list comprehensions for nested loops </u>

### Let's go ahead and write a nested for loop

In [ ]:
list(range(4))

[0, 1, 2, 3]

In [ ]:
list_of_numbers = []

for num1 in range(4): 
  for num2 in range(3):
    # print(num1,num2)
    list_of_numbers.append(num1)

print(list_of_numbers)

[0, 0, 0, 1, 1, 1, 2, 2, 2, 3, 3, 3]

In [ ]:
# We can write it in a slightly different way
list_of_numbers = [num1 for num1 in range(4) for num2 in range(3)]
print(list_of_numbers)

[0, 0, 0, 1, 1, 1, 2, 2, 2, 3, 3, 3]

## Note: My brain wants to write this list comprehension as:

In [ ]:
list_of_numbers = [num2**2 for num2 in range(3) for num1 in range(4)]
print(list_of_numbers)

[0, 0, 0, 0, 1, 1, 1, 1, 4, 4, 4, 4]

## But thatâ€™s not right! Iâ€™ve mistakenly flipped the <code>for</code> loops here. The correct version is the one above. When working with nested loops in list comprehensions remember that the for clauses remain in the same order as in our original for loops.

### Now let us see how we can create list of lists using list comprehension

In [ ]:
sample = [[]]
len(sample)

sample[0]

[]

In [ ]:
list_of_lists = []

for num1 in range(4):
  # Append an empty sublist inside the list 
  list_of_lists.append([])  # [[0]] , list_of_lists[1]
  # print(list_of_lists)

  for num2 in range(3):
    # Append the elements within the sublist
    list_of_lists[num1].append(num2)  #list_of_lists[0]

print(list_of_lists)

[[0, 1, 2], [0, 1, 2], [0, 1, 2], [0, 1, 2]]

In [ ]:
# Using list comprehension we can write the same thing 
list_of_lists = [[num2 for num2 in range(3)] for num1 in range(4)] 
print(list_of_lists)

[[0, 1, 2], [0, 1, 2], [0, 1, 2], [0, 1, 2]]

In [ ]:
# Using list comprehension we can write the same thing 
list_of_lists = [[num1 for num2 in range(3)] for num1 in range(4)]
print(list_of_lists)

[[0, 0, 0], [1, 1, 1], [2, 2, 2], [3, 3, 3]]

### Up till now, we have only implemented list comprehension for list objects. We know that there are other iterables in Python which are sequence of elements such as strings, tuples etc. Let us try and apply list comprehension to iterate over their elements.

In [ ]:
heisenberg_quote = "It ceases to exist without me. No, you clearly don't know who you're talking to, so let me clue you in. I am not in danger, Skyler. I am the danger."

In [ ]:
words_by_walter = heisenberg_quote.split(' ')
print(words_by_walter)

['It', 'ceases', 'to', 'exist', 'without', 'me.', 'No,', 'you', 'clearly', "don't", 'know', 'who', "you're", 'talking', 'to,', 'so', 'let', 'me', 'clue', 'you', 'in.', 'I', 'am', 'not', 'in', 'danger,', 'Skyler.', 'I', 'am', 'the', 'danger.']

In [ ]:
heisenberg_quote.split('.')

['It ceases to exist without me',
 " No, you clearly don't know who you're talking to, so let me clue you in",
 ' I am not in danger, Skyler',
 ' I am the danger',
 '']

In [ ]:
# Let u store the first letter of each word in another list

first_letters = []

for word in words_by_walter:
  first_letters.append(word[0])

# Print the first_letters list
print(first_letters)

['I', 'c', 't', 'e', 'w', 'm', 'N', 'y', 'c', 'd', 'k', 'w', 'y', 't', 't', 's', 'l', 'm', 'c', 'y', 'i', 'I', 'a', 'n', 'i', 'd', 'S', 'I', 'a', 't', 'd']

In [ ]:
# The same task but now with list comprehension
first_letters = [word[0] for word in words_by_walter]
print(first_letters)

['I', 'c', 't', 'e', 'w', 'm', 'N', 'y', 'c', 'd', 'k', 'w', 'y', 't', 't', 's', 'l', 'm', 'c', 'y', 'i', 'I', 'a', 'n', 'i', 'd', 'S', 'I', 'a', 't', 'd']

In [ ]:
heisenberg_quote.split(',')

['It ceases to exist without me. No',
 " you clearly don't know who you're talking to",
 ' so let me clue you in. I am not in danger',
 ' Skyler. I am the danger.']

In [ ]:
my_string = 'Alphabet Inc.'

list_of_characters = [char for char in my_string]
print(list_of_characters)

['A', 'l', 'p', 'h', 'a', 'b', 'e', 't', ' ', 'I', 'n', 'c', '.']

### We can also use list comprehension to get a tuple as well.

In [ ]:
# Suppose we have a tuple of days
days = ('Monday' ,'Tuesday' ,'Wednesday' ,'Thursday' ,'Friday','Saturday','Sunday')

In [ ]:
tuple(day for day in days)

('Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday')

In [ ]:
# Let us create a tuple where we want to remove the word 'day' from each tuple element
days_without_day = tuple([day[:-3] for day in days])
print(days_without_day)

('Mon', 'Tues', 'Wednes', 'Thurs', 'Fri', 'Satur', 'Sun')

## Note we cannot just specify parentheses and get this to work. It would create a generator object so we need to call the tuple function

# <u>Set Comprehension</u>

In [ ]:
# Using a for loop
first_letters = set()
for word in words_by_walter:
    first_letters.add(word[0])

print(first_letters)

{'N', 'I', 'c', 'n', 'y', 'w', 'e', 'k', 'l', 'a', 's', 'm', 'i', 'S', 'd', 't'}

In [ ]:
# Using set comprehension
first_letters = {word[0] for word in words_by_walter}
print(first_letters)

{'N', 'I', 'c', 'n', 'y', 'w', 'e', 'k', 'l', 'a', 's', 'm', 'i', 'S', 'd', 't'}

# <u> Dictionary Comprehensions</u>

In [ ]:
country_city_list = [('India','New Delhi'),('Australia','Canberra'),('United States','Washington DC'),('England','London')]

In [ ]:
# Lets convert the list of tuples to a dictionary
country_city_dict = dict(country_city_list)
print(country_city_dict)

{'India': 'New Delhi', 'Australia': 'Canberra', 'United States': 'Washington DC', 'England': 'London'}

## Let us try to swap the keys and values for this dictionary

In [ ]:
# The conventional for loop approach
flipped = {}
for country, city in country_city_dict.items():
    flipped[city] = country

print(flipped)

{'New Delhi': 'India', 'Canberra': 'Australia', 'Washington DC': 'United States', 'London': 'England'}

In [ ]:
# The new dictionary comprehension
flipped = {city:country for country, city in country_city_dict.items()}
print(flipped)

{'New Delhi': 'India', 'Canberra': 'Australia', 'Washington DC': 'United States', 'London': 'England'}

In [ ]:
# We can further add conditionals
flipped = { city : country for country, city in country_city_dict.items() if country[0] not in ['E','A']}
print(flipped)

{'New Delhi': 'India', 'Washington DC': 'United States'}

In [ ]:
# The new dictionary comprehension
flipped = {country[:2] : city[-2:] for country, city in country_city_dict.items()}
print(flipped)

{'In': 'hi', 'Au': 'ra', 'Un': 'DC', 'En': 'on'}

In [ ]:
print(country_city_dict)

{'India': 'New Delhi', 'Australia': 'Canberra', 'United States': 'Washington DC', 'England': 'London'}