<a href="https://colab.research.google.com/github/AkashSalmuthe/Python-Noteboks/blob/main/Feature_Scaling.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [11]:
import pandas as pd
import numpy as np
import seaborn as sns
from sklearn.preprocessing import StandardScaler, MinMaxScaler
from sklearn.model_selection import train_test_split

In [4]:
df = sns.load_dataset('titanic')
df.head()

   survived  pclass     sex   age  ...  deck  embark_town  alive  alone
0         0       3    male  22.0  ...   NaN  Southampton     no  False
1         1       1  female  38.0  ...     C    Cherbourg    yes  False
2         1       3  female  26.0  ...   NaN  Southampton    yes   True
3         1       1  female  35.0  ...     C  Southampton    yes  False
4         0       3    male  35.0  ...   NaN  Southampton     no   True

[5 rows x 15 columns]

In [6]:
# Numerica Features df

df2 = df[['survived','pclass','age','parch']]
df2.head()

   survived  pclass   age  parch
0         0       3  22.0      0
1         1       1  38.0      0
2         1       3  26.0      0
3         1       1  35.0      0
4         0       3  35.0      0

In [7]:
df3 = df2.fillna(df2.mean())

In [10]:
X = df3.drop('survived',axis=1)
y = df3['survived']


print(X.shape)
print(y.shape)

(891, 3)
(891,)

In [12]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=51)

print('Shape Of X_train',X_train.shape)
print('Shape Of X_test',X_test.shape)
print('Shape Of y_train',y_train.shape)
print('Shape Of y_test',y_test.shape)

Shape Of X_train (712, 3)
Shape Of X_test (179, 3)
Shape Of y_train (712,)
Shape Of y_test (179,)

In [13]:
sc = StandardScaler()
sc.fit(X_train)

StandardScaler()

In [14]:
sc.mean_

array([ 2.30617978, 29.55409121,  0.39185393])

In [22]:
X_train_sc= sc.transform(X_train )
X_test_sc = sc.transform(X_test )

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  "X does not have valid feature names, but"
/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  "X does not have valid feature names, but"

In [23]:
X_train_sc

array([[-1.75837972, -2.30776312, -1.1096893 ],
       [-1.75837972, -2.12113234, -1.1096893 ],
       [-1.75837972, -2.38478535, -1.1096893 ],
       ...,
       [-1.75837972, -2.16556824,  3.61939826],
       [-1.75837972, -2.27399706,  0.46667322],
       [-1.75837972, -2.28110158, -1.1096893 ]])

In [25]:
X_train_sc.describe

AttributeError: ignored