<a href="https://colab.research.google.com/github/AkashSalmuthe/Python-Noteboks/blob/main/Loops_And_Iterations.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Loops are important in Python or in any other programming language as they help you to execute a block of code repeatedly. You will often come face to face with situations where you would need to use a piece of code over and over but you don't want to write the same line of code multiple times.

### In Python we have mainly two different types of loops :


* <u>for loop</u> : In the context of most data science work, Python for loops are used to loop through an iterable object (like a list, tuple, set, etc.) and perform the same action for each entry. For example, a for loop would allow us to iterate through a list, performing the same action on each item in the list.


* <u>while loop</u> : The while loop is somewhat similar to an if statement, it executes the code inside, if the condition is True. However, as opposed to the if statement, the while loop continues to execute the code repeatedly as long as the condition is True.

# for loops

A <code>for</code> loop acts as an iterator in Python; it goes through items that are in a *sequence* or any other iterable item. Iterable is an object, which one can iterate over. Objects that we've learned about that we can iterate over include strings, lists, tuples, and even built-in iterables for dictionaries, such as keys or values.

Here's the general format for a <code>for</code> loop in Python:

    for item in object:
        statements to do stuff

The variable name used for the item is completely up to the coder, so use your best judgment for choosing a name that makes sense and you will be able to understand when revisiting your code. This item name can then be referenced inside your loop, for example if you wanted to use <code>if</code> statements to perform checks.

Let's go ahead and work through several example of <code>for</code> loops using a variety of data object types. We'll start simple and build more complexity later on.

### <u> Example 1</u>


#### Let us print each element of our list of strings using a for loop statement

In [ ]:
# Consider a list of strings 

houses = ['Stark', 'Arryn', 'Baratheon', 'Tully', 'Greyjoy', 'Lannister', 'Tyrell', 'Martell', 'Targaryen']

In [ ]:
for house in houses:
  print(f'house {house}')

house Stark
house Arryn
house Baratheon
house Tully
house Greyjoy
house Lannister
house Tyrell
house Martell
house Targaryen

In [ ]:
for i,h in enumerate(houses):
  print(f'For house {h} Index is {i}')

For house Stark Index is 0
For house Arryn Index is 1
For house Baratheon Index is 2
For house Tully Index is 3
For house Greyjoy Index is 4
For house Lannister Index is 5
For house Tyrell Index is 6
For house Martell Index is 7
For house Targaryen Index is 8

In [ ]:
list(enumerate(houses))

[(0, 'Stark'),
 (1, 'Arryn'),
 (2, 'Baratheon'),
 (3, 'Tully'),
 (4, 'Greyjoy'),
 (5, 'Lannister'),
 (6, 'Tyrell'),
 (7, 'Martell'),
 (8, 'Targaryen')]

### <u>Example 2</u>

#### Suppose you are given a list of numbers. You need to find the corresponding squares of these numbers and zip them together in a dictionary

In [ ]:
# The list of numbers
list_of_numbers = [1, 2, 4, 6, 11, 14, 17, 20]

In [ ]:
# First Print The square of each number

for number in list_of_numbers:
  print(f'The Square of the number {number} is', number*number)

The Square of the number 1 is 1
The Square of the number 2 is 4
The Square of the number 4 is 16
The Square of the number 6 is 36
The Square of the number 11 is 121
The Square of the number 14 is 196
The Square of the number 17 is 289
The Square of the number 20 is 400

### So this was a pretty straight forward way to print out these squares.

### <u>Example 3</u>
#### Imagine a scenario where we not only needed to print these numbers for each iteration but also we need to store these elements somewhere else

In [ ]:
list_of_numbers

[1, 2, 4, 6, 11, 14, 17, 20]

In [ ]:
sqr_num = []

for n in list_of_numbers:
  sqr_num.append(n*n)

print(f'All the squared numbers are: {sqr_num}')

All the squared numbers are: [1, 4, 16, 36, 121, 196, 289, 400]

In [ ]:
print(list_of_numbers)
print(sqr_num)

[1, 2, 4, 6, 11, 14, 17, 20]
[1, 4, 16, 36, 121, 196, 289, 400]

In [ ]:
dict(zip(list_of_numbers,sqr_num))

{1: 1, 2: 4, 4: 16, 6: 36, 11: 121, 14: 196, 17: 289, 20: 400}

### <u> Example 4</u>
####  Now suppose we only want to print the squares of those numbers which are even. Let us see how we can do this