<a href="https://colab.research.google.com/github/AkashSalmuthe/Python-Noteboks/blob/main/Pandas_Basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Pandas Series**

In [1]:
import pandas as pd

In [2]:
pd.__version__

'1.1.5'

In [3]:
ls = [1,2,-3,6.2,'data']
print(ls)

[1, 2, -3, 6.2, 'data']

In [4]:
type(ls)

list

### Creating Series

In [6]:
sr1 = pd.Series(ls)
print(sr1)

0       1
1       2
2      -3
3     6.2
4    data
dtype: object

In [7]:
type(sr1)

pandas.core.series.Series

In [8]:
sr2 = pd.Series([1,2,3])
print(sr2)

0    1
1    2
2    3
dtype: int64

In [9]:
empty_sr = pd.Series([])
print(empty_sr)

Series([], dtype: float64)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  """Entry point for launching an IPython kernel.

In [10]:
sr3 = pd.Series([1,2,3,4],index=['a','b','c','d'])
print(sr3)

a    1
b    2
c    3
d    4
dtype: int64

In [11]:
sr3 = pd.Series([1,2,3,4],index=['a','b','c','d'],dtype=float)
print(sr3)

a    1.0
b    2.0
c    3.0
d    4.0
dtype: float64

In [13]:
sr3 = pd.Series([1,2,3,4],index=['a','b','c','d'],name='data_values')
print(sr3)

a    1
b    2
c    3
d    4
Name: data_values, dtype: int64

In [14]:
scalar_sr = pd.Series(5)
print(scalar_sr)

0    5
dtype: int64

In [15]:
scalar_sr = pd.Series(5,index=['a','b','c'],dtype=float)
print(scalar_sr)

a    5.0
b    5.0
c    5.0
dtype: float64

In [16]:
dict_sr = pd.Series({'a':1,'b':2,'c':3})
print(dict_sr)

a    1
b    2
c    3
dtype: int64

### Pandas Series almot same as Numpy array

In [17]:
sr4 = pd.Series([1,2,3,4,5])
print(sr4)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [18]:
sr4[0]

1

In [19]:
sr4 = pd.Series(['a','b','c'])
print(sr4)

0    a
1    b
2    c
dtype: object

In [20]:
sr4[2]

'c'

In [21]:
sr4[1:3]

1    b
2    c
dtype: object

In [22]:
max(sr4)

'c'

In [23]:
sr4 = pd.Series([1,2,3,4,5])
sr5 = pd.Series([1,2,3,4,5])

In [24]:
sr4 + sr5

0     2
1     4
2     6
3     8
4    10
dtype: int64

In [25]:
sr6 = pd.Series([1,2,3])

In [26]:
sr5+sr6

0    2.0
1    4.0
2    6.0
3    NaN
4    NaN
dtype: float64

## **Dataframe**

In [27]:
emt_df = pd.DataFrame()

In [28]:
print(emt_df)

Empty DataFrame
Columns: []
Index: []

In [29]:
lst = ['s','r','q']
print(lst)

['s', 'r', 'q']

In [31]:
df1 = pd.DataFrame(lst)
df1

   0
0  s
1  r
2  q

In [32]:
lst_of_lst = [[1,2,3],[2,3,4],[4,5,6]]
print(lst_of_lst)

[[1, 2, 3], [2, 3, 4], [4, 5, 6]]

In [34]:
df2 = pd.DataFrame(lst_of_lst)
print(df2)

   0  1  2
0  1  2  3
1  2  3  4
2  4  5  6

In [36]:
dict1 = {'Id':[11,22,33,44]}
df3 = pd.DataFrame(dict1)
print(df3)

   Id
0  11
1  22
2  33
3  44

In [39]:
dict2 = {'Id':[11,22,33,44],'sn':['a','b','c','d']}
df4 = pd.DataFrame(dict2)
print(df4)

   Id sn
0  11  a
1  22  b
2  33  c
3  44  d

In [42]:
ls_dict = [{'Id':[11,22,33,44],'sn':['a','b','c','d']},{'a':100,'b':200,'c':300,'d':400}]
df5 = pd.DataFrame(ls_dict)

print(df5)

                 Id            sn      a      b      c      d
0  [11, 22, 33, 44]  [a, b, c, d]    NaN    NaN    NaN    NaN
1               NaN           NaN  100.0  200.0  300.0  400.0

In [44]:
dict_sr = {'ID':pd.Series([1,2,3]),'SN':[11,22,33]}
df6 = pd.DataFrame(dict_sr)
print(df6)

   ID  SN
0   1  11
1   2  22
2   3  33