<a href="https://colab.research.google.com/github/AkashSalmuthe/Python-Noteboks/blob/main/Pandas_Basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Pandas Series**

In [1]:
import pandas as pd

In [2]:
pd.__version__

'1.1.5'

In [3]:
ls = [1,2,-3,6.2,'data']
print(ls)

[1, 2, -3, 6.2, 'data']

In [4]:
type(ls)

list

### Creating Series

In [5]:
sr1 = pd.Series(ls)
print(sr1)

0       1
1       2
2      -3
3     6.2
4    data
dtype: object

In [6]:
type(sr1)

pandas.core.series.Series

In [7]:
sr2 = pd.Series([1,2,3])
print(sr2)

0    1
1    2
2    3
dtype: int64

In [8]:
empty_sr = pd.Series([])
print(empty_sr)

Series([], dtype: float64)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  """Entry point for launching an IPython kernel.

In [9]:
sr3 = pd.Series([1,2,3,4],index=['a','b','c','d'])
print(sr3)

a    1
b    2
c    3
d    4
dtype: int64

In [10]:
sr3 = pd.Series([1,2,3,4],index=['a','b','c','d'],dtype=float)
print(sr3)

a    1.0
b    2.0
c    3.0
d    4.0
dtype: float64

In [11]:
sr3 = pd.Series([1,2,3,4],index=['a','b','c','d'],name='data_values')
print(sr3)

a    1
b    2
c    3
d    4
Name: data_values, dtype: int64

In [12]:
scalar_sr = pd.Series(5)
print(scalar_sr)

0    5
dtype: int64

In [13]:
scalar_sr = pd.Series(5,index=['a','b','c'],dtype=float)
print(scalar_sr)

a    5.0
b    5.0
c    5.0
dtype: float64

In [14]:
dict_sr = pd.Series({'a':1,'b':2,'c':3})
print(dict_sr)

a    1
b    2
c    3
dtype: int64

### Pandas Series almot same as Numpy array

In [15]:
sr4 = pd.Series([1,2,3,4,5])
print(sr4)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [16]:
sr4[0]

1

In [17]:
sr4 = pd.Series(['a','b','c'])
print(sr4)

0    a
1    b
2    c
dtype: object

In [18]:
sr4[2]

'c'

In [19]:
sr4[1:3]

1    b
2    c
dtype: object

In [20]:
max(sr4)

'c'

In [21]:
sr4 = pd.Series([1,2,3,4,5])
sr5 = pd.Series([1,2,3,4,5])

In [22]:
sr4 + sr5

0     2
1     4
2     6
3     8
4    10
dtype: int64

In [23]:
sr6 = pd.Series([1,2,3])

In [24]:
sr5+sr6

0    2.0
1    4.0
2    6.0
3    NaN
4    NaN
dtype: float64

## **Dataframe**

In [25]:
emt_df = pd.DataFrame()

In [26]:
print(emt_df)

Empty DataFrame
Columns: []
Index: []

In [27]:
lst = ['s','r','q']
print(lst)

['s', 'r', 'q']

In [28]:
df1 = pd.DataFrame(lst)
df1

   0
0  s
1  r
2  q

In [29]:
lst_of_lst = [[1,2,3],[2,3,4],[4,5,6]]
print(lst_of_lst)

[[1, 2, 3], [2, 3, 4], [4, 5, 6]]

In [30]:
df2 = pd.DataFrame(lst_of_lst)
print(df2)

   0  1  2
0  1  2  3
1  2  3  4
2  4  5  6

In [31]:
dict1 = {'Id':[11,22,33,44]}
df3 = pd.DataFrame(dict1)
print(df3)

   Id
0  11
1  22
2  33
3  44

In [32]:
dict2 = {'Id':[11,22,33,44],'sn':['a','b','c','d']}
df4 = pd.DataFrame(dict2)
print(df4)

   Id sn
0  11  a
1  22  b
2  33  c
3  44  d

In [33]:
ls_dict = [{'Id':[11,22,33,44],'sn':['a','b','c','d']},{'a':100,'b':200,'c':300,'d':400}]
df5 = pd.DataFrame(ls_dict)

print(df5)

                 Id            sn      a      b      c      d
0  [11, 22, 33, 44]  [a, b, c, d]    NaN    NaN    NaN    NaN
1               NaN           NaN  100.0  200.0  300.0  400.0

In [34]:
dict_sr = {'ID':pd.Series([1,2,3]),'SN':[11,22,33]}
df6 = pd.DataFrame(dict_sr)
print(df6)

   ID  SN
0   1  11
1   2  22
2   3  33

## **read_CSV**

In [35]:
help(pd.read_csv)

Help on function read_csv in module pandas.io.parsers:

read_csv(filepath_or_buffer: Union[str, pathlib.Path, IO[~AnyStr]], sep=',', delimiter=None, header='infer', names=None, index_col=None, usecols=None, squeeze=False, prefix=None, mangle_dupe_cols=True, dtype=None, engine=None, converters=None, true_values=None, false_values=None, skipinitialspace=False, skiprows=None, skipfooter=0, nrows=None, na_values=None, keep_default_na=True, na_filter=True, verbose=False, skip_blank_lines=True, parse_dates=False, infer_datetime_format=False, keep_date_col=False, date_parser=None, dayfirst=False, cache_dates=True, iterator=False, chunksize=None, compression='infer', thousands=None, decimal: str = '.', lineterminator=None, quotechar='"', quoting=0, doublequote=True, escapechar=None, comment=None, encoding=None, dialect=None, error_bad_lines=True, warn_bad_lines=True, delim_whitespace=False, low_memory=True, memory_map=False, float_precision=None)
    Read a comma-separated values (csv) file into DataFrame.

    Also supports optionally iterating or breaking of the file
    into chunks.

    Additional help can be found in the online docs for
    `IO Tools <https://pandas.pydata.org/pandas-docs/stable/user_guide/io.html>`_.

    Parameters
    ----------
    filepath_or_buffer : str, path object or file-like object
        Any valid string path is acceptable. The string could be a URL. Valid
        URL schemes include http, ftp, s3, gs, and file. For file URLs, a host is
        expected. A local file could be: file://localhost/path/to/table.csv.

        If you want to pass in a path object, pandas accepts any ``os.PathLike``.

        By file-like object, we refer to objects with a ``read()`` method, such as
        a file handler (e.g. via builtin ``open`` function) or ``StringIO``.
    sep : str, default ','
        Delimiter to use. If sep is None, the C engine cannot automatically detect
        the separator, but the Python parsing engine can, meaning the latter will
        be used and automatically detect the separator by Python's builtin sniffer
        tool, ``csv.Sniffer``. In addition, separators longer than 1 character and
        different from ``'\s+'`` will be interpreted as regular expressions and
        will also force the use of the Python parsing engine. Note that regex
        delimiters are prone to ignoring quoted data. Regex example: ``'\r\t'``.
    delimiter : str, default ``None``
        Alias for sep.
    header : int, list of int, default 'infer'
        Row number(s) to use as the column names, and the start of the
        data.  Default behavior is to infer the column names: if no names
        are passed the behavior is identical to ``header=0`` and column
        names are inferred from the first line of the file, if column
        names are passed explicitly then the behavior is identical to
        ``header=None``. Explicitly pass ``header=0`` to be able to
        replace existing names. The header can be a list of integers that
        specify row locations for a multi-index on the columns
        e.g. [0,1,3]. Intervening rows that are not specified will be
        skipped (e.g. 2 in this example is skipped). Note that this
        parameter ignores commented lines and empty lines if
        ``skip_blank_lines=True``, so ``header=0`` denotes the first line of
        data rather than the first line of the file.
    names : array-like, optional
        List of column names to use. If the file contains a header row,
        then you should explicitly pass ``header=0`` to override the column names.
        Duplicates in this list are not allowed.
    index_col : int, str, sequence of int / str, or False, default ``None``
      Column(s) to use as the row labels of the ``DataFrame``, either given as
      string name or column index. If a sequence of int / str is given, a
      MultiIndex is used.

      Note: ``index_col=False`` can be used to force pandas to *not* use the first
      column as the index, e.g. when you have a malformed file with delimiters at
      the end of each line.
    usecols : list-like or callable, optional
        Return a subset of the columns. If list-like, all elements must either
        be positional (i.e. integer indices into the document columns) or strings
        that correspond to column names provided either by the user in `names` or
        inferred from the document header row(s). For example, a valid list-like
        `usecols` parameter would be ``[0, 1, 2]`` or ``['foo', 'bar', 'baz']``.
        Element order is ignored, so ``usecols=[0, 1]`` is the same as ``[1, 0]``.
        To instantiate a DataFrame from ``data`` with element order preserved use
        ``pd.read_csv(data, usecols=['foo', 'bar'])[['foo', 'bar']]`` for columns
        in ``['foo', 'bar']`` order or
        ``pd.read_csv(data, usecols=['foo', 'bar'])[['bar', 'foo']]``
        for ``['bar', 'foo']`` order.

        If callable, the callable function will be evaluated against the column
        names, returning names where the callable function evaluates to True. An
        example of a valid callable argument would be ``lambda x: x.upper() in
        ['AAA', 'BBB', 'DDD']``. Using this parameter results in much faster
        parsing time and lower memory usage.
    squeeze : bool, default False
        If the parsed data only contains one column then return a Series.
    prefix : str, optional
        Prefix to add to column numbers when no header, e.g. 'X' for X0, X1, ...
    mangle_dupe_cols : bool, default True
        Duplicate columns will be specified as 'X', 'X.1', ...'X.N', rather than
        'X'...'X'. Passing in False will cause data to be overwritten if there
        are duplicate names in the columns.
    dtype : Type name or dict of column -> type, optional
        Data type for data or columns. E.g. {'a': np.float64, 'b': np.int32,
        'c': 'Int64'}
        Use `str` or `object` together with suitable `na_values` settings
        to preserve and not interpret dtype.
        If converters are specified, they will be applied INSTEAD
        of dtype conversion.
    engine : {'c', 'python'}, optional
        Parser engine to use. The C engine is faster while the python engine is
        currently more feature-complete.
    converters : dict, optional
        Dict of functions for converting values in certain columns. Keys can either
        be integers or column labels.
    true_values : list, optional
        Values to consider as True.
    false_values : list, optional
        Values to consider as False.
    skipinitialspace : bool, default False
        Skip spaces after delimiter.
    skiprows : list-like, int or callable, optional
        Line numbers to skip (0-indexed) or number of lines to skip (int)
        at the start of the file.

        If callable, the callable function will be evaluated against the row
        indices, returning True if the row should be skipped and False otherwise.
        An example of a valid callable argument would be ``lambda x: x in [0, 2]``.
    skipfooter : int, default 0
        Number of lines at bottom of file to skip (Unsupported with engine='c').
    nrows : int, optional
        Number of rows of file to read. Useful for reading pieces of large files.
    na_values : scalar, str, list-like, or dict, optional
        Additional strings to recognize as NA/NaN. If dict passed, specific
        per-column NA values.  By default the following values are interpreted as
        NaN: '', '#N/A', '#N/A N/A', '#NA', '-1.#IND', '-1.#QNAN', '-NaN', '-nan',
        '1.#IND', '1.#QNAN', '<NA>', 'N/A', 'NA', 'NULL', 'NaN', 'n/a',
        'nan', 'null'.
    keep_default_na : bool, default True
        Whether or not to include the default NaN values when parsing the data.
        Depending on whether `na_values` is passed in, the behavior is as follows:

        * If `keep_default_na` is True, and `na_values` are specified, `na_values`
          is appended to the default NaN values used for parsing.
        * If `keep_default_na` is True, and `na_values` are not specified, only
          the default NaN values are used for parsing.
        * If `keep_default_na` is False, and `na_values` are specified, only
          the NaN values specified `na_values` are used for parsing.
        * If `keep_default_na` is False, and `na_values` are not specified, no
          strings will be parsed as NaN.

        Note that if `na_filter` is passed in as False, the `keep_default_na` and
        `na_values` parameters will be ignored.
    na_filter : bool, default True
        Detect missing value markers (empty strings and the value of na_values). In
        data without any NAs, passing na_filter=False can improve the performance
        of reading a large file.
    verbose : bool, default False
        Indicate number of NA values placed in non-numeric columns.
    skip_blank_lines : bool, default True
        If True, skip over blank lines rather than interpreting as NaN values.
    parse_dates : bool or list of int or names or list of lists or dict, default False
        The behavior is as follows:

        * boolean. If True -> try parsing the index.
        * list of int or names. e.g. If [1, 2, 3] -> try parsing columns 1, 2, 3
          each as a separate date column.
        * list of lists. e.g.  If [[1, 3]] -> combine columns 1 and 3 and parse as
          a single date column.
        * dict, e.g. {'foo' : [1, 3]} -> parse columns 1, 3 as date and call
          result 'foo'

        If a column or index cannot be represented as an array of datetimes,
        say because of an unparseable value or a mixture of timezones, the column
        or index will be returned unaltered as an object data type. For
        non-standard datetime parsing, use ``pd.to_datetime`` after
        ``pd.read_csv``. To parse an index or column with a mixture of timezones,
        specify ``date_parser`` to be a partially-applied
        :func:`pandas.to_datetime` with ``utc=True``. See
        :ref:`io.csv.mixed_timezones` for more.

        Note: A fast-path exists for iso8601-formatted dates.
    infer_datetime_format : bool, default False
        If True and `parse_dates` is enabled, pandas will attempt to infer the
        format of the datetime strings in the columns, and if it can be inferred,
        switch to a faster method of parsing them. In some cases this can increase
        the parsing speed by 5-10x.
    keep_date_col : bool, default False
        If True and `parse_dates` specifies combining multiple columns then
        keep the original columns.
    date_parser : function, optional
        Function to use for converting a sequence of string columns to an array of
        datetime instances. The default uses ``dateutil.parser.parser`` to do the
        conversion. Pandas will try to call `date_parser` in three different ways,
        advancing to the next if an exception occurs: 1) Pass one or more arrays
        (as defined by `parse_dates`) as arguments; 2) concatenate (row-wise) the
        string values from the columns defined by `parse_dates` into a single array
        and pass that; and 3) call `date_parser` once for each row using one or
        more strings (corresponding to the columns defined by `parse_dates`) as
        arguments.
    dayfirst : bool, default False
        DD/MM format dates, international and European format.
    cache_dates : bool, default True
        If True, use a cache of unique, converted dates to apply the datetime
        conversion. May produce significant speed-up when parsing duplicate
        date strings, especially ones with timezone offsets.

        .. versionadded:: 0.25.0
    iterator : bool, default False
        Return TextFileReader object for iteration or getting chunks with
        ``get_chunk()``.
    chunksize : int, optional
        Return TextFileReader object for iteration.
        See the `IO Tools docs
        <https://pandas.pydata.org/pandas-docs/stable/io.html#io-chunking>`_
        for more information on ``iterator`` and ``chunksize``.
    compression : {'infer', 'gzip', 'bz2', 'zip', 'xz', None}, default 'infer'
        For on-the-fly decompression of on-disk data. If 'infer' and
        `filepath_or_buffer` is path-like, then detect compression from the
        following extensions: '.gz', '.bz2', '.zip', or '.xz' (otherwise no
        decompression). If using 'zip', the ZIP file must contain only one data
        file to be read in. Set to None for no decompression.
    thousands : str, optional
        Thousands separator.
    decimal : str, default '.'
        Character to recognize as decimal point (e.g. use ',' for European data).
    lineterminator : str (length 1), optional
        Character to break file into lines. Only valid with C parser.
    quotechar : str (length 1), optional
        The character used to denote the start and end of a quoted item. Quoted
        items can include the delimiter and it will be ignored.
    quoting : int or csv.QUOTE_* instance, default 0
        Control field quoting behavior per ``csv.QUOTE_*`` constants. Use one of
        QUOTE_MINIMAL (0), QUOTE_ALL (1), QUOTE_NONNUMERIC (2) or QUOTE_NONE (3).
    doublequote : bool, default ``True``
       When quotechar is specified and quoting is not ``QUOTE_NONE``, indicate
       whether or not to interpret two consecutive quotechar elements INSIDE a
       field as a single ``quotechar`` element.
    escapechar : str (length 1), optional
        One-character string used to escape other characters.
    comment : str, optional
        Indicates remainder of line should not be parsed. If found at the beginning
        of a line, the line will be ignored altogether. This parameter must be a
        single character. Like empty lines (as long as ``skip_blank_lines=True``),
        fully commented lines are ignored by the parameter `header` but not by
        `skiprows`. For example, if ``comment='#'``, parsing
        ``#empty\na,b,c\n1,2,3`` with ``header=0`` will result in 'a,b,c' being
        treated as the header.
    encoding : str, optional
        Encoding to use for UTF when reading/writing (ex. 'utf-8'). `List of Python
        standard encodings
        <https://docs.python.org/3/library/codecs.html#standard-encodings>`_ .
    dialect : str or csv.Dialect, optional
        If provided, this parameter will override values (default or not) for the
        following parameters: `delimiter`, `doublequote`, `escapechar`,
        `skipinitialspace`, `quotechar`, and `quoting`. If it is necessary to
        override values, a ParserWarning will be issued. See csv.Dialect
        documentation for more details.
    error_bad_lines : bool, default True
        Lines with too many fields (e.g. a csv line with too many commas) will by
        default cause an exception to be raised, and no DataFrame will be returned.
        If False, then these "bad lines" will dropped from the DataFrame that is
        returned.
    warn_bad_lines : bool, default True
        If error_bad_lines is False, and warn_bad_lines is True, a warning for each
        "bad line" will be output.
    delim_whitespace : bool, default False
        Specifies whether or not whitespace (e.g. ``' '`` or ``'    '``) will be
        used as the sep. Equivalent to setting ``sep='\s+'``. If this option
        is set to True, nothing should be passed in for the ``delimiter``
        parameter.
    low_memory : bool, default True
        Internally process the file in chunks, resulting in lower memory use
        while parsing, but possibly mixed type inference.  To ensure no mixed
        types either set False, or specify the type with the `dtype` parameter.
        Note that the entire file is read into a single DataFrame regardless,
        use the `chunksize` or `iterator` parameter to return the data in chunks.
        (Only valid with C parser).
    memory_map : bool, default False
        If a filepath is provided for `filepath_or_buffer`, map the file object
        directly onto memory and access the data directly from there. Using this
        option can improve performance because there is no longer any I/O overhead.
    float_precision : str, optional
        Specifies which converter the C engine should use for floating-point
        values. The options are `None` for the ordinary converter,
        `high` for the high-precision converter, and `round_trip` for the
        round-trip converter.

    Returns
    -------
    DataFrame or TextParser
        A comma-separated values (csv) file is returned as two-dimensional
        data structure with labeled axes.

    See Also
    --------
    DataFrame.to_csv : Write DataFrame to a comma-separated values (csv) file.
    read_csv : Read a comma-separated values (csv) file into DataFrame.
    read_fwf : Read a table of fixed-width formatted lines into DataFrame.

    Examples
    --------
    >>> pd.read_csv('data.csv')  # doctest: +SKIP

## How To write CSV file

In [36]:
df = pd.read_csv('/content/drive/MyDrive/AI Production/Pandas/fortune_500.csv')

In [37]:
df.head()

   rank               title  ...  assets  totshequity
0     1             Walmart  ...  198825      77798.0
1     2  Berkshire Hathaway  ...  620854     283001.0
2     3               Apple  ...  321686     128249.0
3     4         Exxon Mobil  ...  330314     167325.0
4     5            McKesson  ...   56563       8924.0

[5 rows x 23 columns]

In [38]:
type(df)

pandas.core.frame.DataFrame

In [39]:
df.columns

Index(['rank', 'title', 'website', 'employees', 'sector', 'industry',
       'hqlocation', 'hqaddr', 'hqcity', 'hqstate', 'hqzip', 'hqtel', 'ceo',
       'ceo_title', 'address', 'ticker', 'fullname', 'revenues', 'revchange',
       'profits', 'prftchange', 'assets', 'totshequity'],
      dtype='object')

Check How to use nrows

In [40]:
df = pd.read_csv('/content/drive/MyDrive/AI Production/Pandas/fortune_500.csv',nrows=1)
df

   rank    title                 website  ...  prftchange  assets totshequity
0     1  Walmart  http://www.walmart.com  ...        -7.2  198825       77798

[1 rows x 23 columns]

In [41]:
df = pd.read_csv('/content/drive/MyDrive/AI Production/Pandas/fortune_500.csv',nrows=5)
df

   rank               title  ...  assets  totshequity
0     1             Walmart  ...  198825        77798
1     2  Berkshire Hathaway  ...  620854       283001
2     3               Apple  ...  321686       128249
3     4         Exxon Mobil  ...  330314       167325
4     5            McKesson  ...   56563         8924

[5 rows x 23 columns]

In [42]:
df = pd.read_csv('/content/drive/MyDrive/AI Production/Pandas/fortune_500.csv',usecols=[0])
df

     rank
0       1
1       2
2       3
3       4
4       5
..    ...
495   496
496   497
497   498
498   499
499   500

[500 rows x 1 columns]

In [43]:
df = pd.read_csv('/content/drive/MyDrive/AI Production/Pandas/fortune_500.csv',usecols=[1,2])
df

                  title                           website
0               Walmart            http://www.walmart.com
1    Berkshire Hathaway  http://www.berkshirehathaway.com
2                 Apple              http://www.apple.com
3           Exxon Mobil         http://www.exxonmobil.com
4              McKesson           http://www.mckesson.com
..                  ...                               ...
495       Michaels Cos.           http://www.michaels.com
496       Toll Brothers       http://www.tollbrothers.com
497               Yahoo              http://www.yahoo.com
498       Vistra Energy       http://www.vistraenergy.com
499      ABM Industries                http://www.abm.com

[500 rows x 2 columns]

## Check Skip Rows

In [44]:
df = pd.read_csv('/content/drive/MyDrive/AI Production/Pandas/fortune_500.csv',skiprows=1)
df.head(3)

   1             Walmart  ...  198825     77798
0  2  Berkshire Hathaway  ...  620854  283001.0
1  3               Apple  ...  321686  128249.0
2  4         Exxon Mobil  ...  330314  167325.0

[3 rows x 23 columns]

In [45]:
df = pd.read_csv('/content/drive/MyDrive/AI Production/Pandas/fortune_500.csv',skiprows=[0]) # square bracket uses index values
df.head(3)

   1             Walmart  ...  198825     77798
0  2  Berkshire Hathaway  ...  620854  283001.0
1  3               Apple  ...  321686  128249.0
2  4         Exxon Mobil  ...  330314  167325.0

[3 rows x 23 columns]

In [46]:
df = pd.read_csv('/content/drive/MyDrive/AI Production/Pandas/fortune_500.csv')
df.head(3)

   rank               title  ...  assets  totshequity
0     1             Walmart  ...  198825      77798.0
1     2  Berkshire Hathaway  ...  620854     283001.0
2     3               Apple  ...  321686     128249.0

[3 rows x 23 columns]

### Chaning index by column

In [47]:
df = pd.read_csv('/content/drive/MyDrive/AI Production/Pandas/fortune_500.csv',index_col="rank")
df.head()

                   title                           website  ...  assets totshequity
rank                                                        ...
1                Walmart            http://www.walmart.com  ...  198825     77798.0
2     Berkshire Hathaway  http://www.berkshirehathaway.com  ...  620854    283001.0
3                  Apple              http://www.apple.com  ...  321686    128249.0
4            Exxon Mobil         http://www.exxonmobil.com  ...  330314    167325.0
5               McKesson           http://www.mckesson.com  ...   56563      8924.0

[5 rows x 22 columns]

In [48]:
df = pd.read_csv('/content/drive/MyDrive/AI Production/Pandas/fortune_500.csv')
df.head(3)

   rank               title  ...  assets  totshequity
0     1             Walmart  ...  198825      77798.0
1     2  Berkshire Hathaway  ...  620854     283001.0
2     3               Apple  ...  321686     128249.0

[3 rows x 23 columns]

### Header is used index for column naming

In [49]:
df = pd.read_csv('/content/drive/MyDrive/AI Production/Pandas/fortune_500.csv',header=3)
df.head(3)

   3               Apple  ...  321686    128249
0  4         Exxon Mobil  ...  330314  167325.0
1  5            McKesson  ...   56563    8924.0
2  6  UnitedHealth Group  ...  122810   38274.0

[3 rows x 23 columns]

### if we dont have column name for any data then..
* header gives column names in int form 
* prefix in char form

In [50]:
df = pd.read_csv('/content/drive/MyDrive/AI Production/Pandas/fortune_500.csv',header=None)
df.head(3)

     0                   1   ...      21           22
0  rank               title  ...  assets  totshequity
1     1             Walmart  ...  198825        77798
2     2  Berkshire Hathaway  ...  620854       283001

[3 rows x 23 columns]

In [51]:
df = pd.read_csv('/content/drive/MyDrive/AI Production/Pandas/fortune_500.csv',prefix='Columns',header=None )
df.head(3)

  Columns0            Columns1  ... Columns21    Columns22
0     rank               title  ...    assets  totshequity
1        1             Walmart  ...    198825        77798
2        2  Berkshire Hathaway  ...    620854       283001

[3 rows x 23 columns]

In [52]:
df = pd.read_csv('/content/drive/MyDrive/AI Production/Pandas/fortune_500.csv',prefix='Col',header=None )
df.head(3)

   Col0                Col1  ...   Col21        Col22
0  rank               title  ...  assets  totshequity
1     1             Walmart  ...  198825        77798
2     2  Berkshire Hathaway  ...  620854       283001

[3 rows x 23 columns]

#### How to give separate names for each column..
Use names

In [53]:
# number of columns = no of unique names

In [54]:
df = pd.read_csv('/content/drive/MyDrive/AI Production/Pandas/fortune_500.csv',names=["a",'b','c'])
df.head(3)

                                                                                                                                                                                                                                                                                                                                                                                   a  ...            c
rank title              website                          employees sector     industry                                 hqlocation      hqaddr              hqcity      hqstate hqzip hqtel        ceo                 ceo_title                                     address                                    ticker fullname                revenues revchange profits  prftchange  ...  totshequity
1    Walmart            http://www.walmart.com           2300000   Retailing  General Merchandisers                    Bentonville, AR 702 S.W. Eighth St. Bentonville AR      72716 479-273-4000 C. Douglas McMillon President, Chief Executive Officer & Director 702 S.W. Eighth St., Bentonville, AR 72716 WMT    Wal-Mart Stores, Inc.   485873   0.8       13643          -7.2  ...        77798
2    Berkshire Hathaway http://www.berkshirehathaway.com 367700    Financials Insurance: Property and Casualty (Stock) Omaha, NE       3555 Farnam St.     Omaha       NE      68131 402-346-1400 Warren E. Buffett   Chairman & Chief Executive Officer            3555 Farnam St., Omaha, NE 68131           BRKA   Berkshire Hathaway Inc. 223604   6.1       24074             0  ...       283001

[3 rows x 3 columns]

In [55]:
df = pd.read_csv('/content/drive/MyDrive/AI Production/Pandas/fortune_500.csv',dtype={'rank':'float64'})
df.head(3)

   rank               title  ...  assets  totshequity
0   1.0             Walmart  ...  198825      77798.0
1   2.0  Berkshire Hathaway  ...  620854     283001.0
2   3.0               Apple  ...  321686     128249.0

[3 rows x 23 columns]

# **Handling Missing Values**

In [56]:
df_2 = pd.read_csv('/content/drive/MyDrive/AI Production/Pandas/Fortune_10.csv')

In [57]:
df_2

   ID             Name  ...     Profit         Growth
0   1          Lamtone  ...    5274553            30%
1   2        Stripfind  ...   11412916            20%
2   3  Canecorporation  ...    3005820             7%
3   4         Mattouch  ...  No Values  Not available
4   5        Techdrill  ...    3138627            NaN
5   6         Techline  ...    8427816  Not available
6   7          Cityace  ...    3005116            16%
7   8   Kayelectronics  ...    5573830             4%
8   9          Ganzlax  ...   11901180            18%
9  10      Trantraxlax  ...    5453060             7%

[10 rows x 8 columns]

In [58]:
df_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 8 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   ID         10 non-null     int64
 1   Name       10 non-null     object
 2   Industry   6 non-null      object
 3   Inception  10 non-null     int64
 4   Revenue    10 non-null     object
 5   Expenses   10 non-null     object
 6   Profit     10 non-null     object
 7   Growth     9 non-null      object
dtypes: int64(2), object(6)
memory usage: 768.0+ bytes

In [59]:
 df_2 = pd.read_csv('/content/drive/MyDrive/AI Production/Pandas/Fortune_10.csv')
 df_2

   ID             Name  ...     Profit         Growth
0   1          Lamtone  ...    5274553            30%
1   2        Stripfind  ...   11412916            20%
2   3  Canecorporation  ...    3005820             7%
3   4         Mattouch  ...  No Values  Not available
4   5        Techdrill  ...    3138627            NaN
5   6         Techline  ...    8427816  Not available
6   7          Cityace  ...    3005116            16%
7   8   Kayelectronics  ...    5573830             4%
8   9          Ganzlax  ...   11901180            18%
9  10      Trantraxlax  ...    5453060             7%

[10 rows x 8 columns]

### How to convert some string or values as NaN

In [60]:
df_2 = pd.read_csv('/content/drive/MyDrive/AI Production/Pandas/Fortune_10.csv',na_values='Not available')
df_2

   ID             Name  ...     Profit  Growth
0   1          Lamtone  ...    5274553     30%
1   2        Stripfind  ...   11412916     20%
2   3  Canecorporation  ...    3005820      7%
3   4         Mattouch  ...  No Values     NaN
4   5        Techdrill  ...    3138627     NaN
5   6         Techline  ...    8427816     NaN
6   7          Cityace  ...    3005116     16%
7   8   Kayelectronics  ...    5573830      4%
8   9          Ganzlax  ...   11901180     18%
9  10      Trantraxlax  ...    5453060      7%

[10 rows x 8 columns]

Not available in last column becomes NaN

In [61]:
df_2 = pd.read_csv('/content/drive/MyDrive/AI Production/Pandas/Fortune_10.csv',na_values=['Not available','No Values'])
df_2

   ID             Name  ...      Profit  Growth
0   1          Lamtone  ...   5274553.0     30%
1   2        Stripfind  ...  11412916.0     20%
2   3  Canecorporation  ...   3005820.0      7%
3   4         Mattouch  ...         NaN     NaN
4   5        Techdrill  ...   3138627.0     NaN
5   6         Techline  ...   8427816.0     NaN
6   7          Cityace  ...   3005116.0     16%
7   8   Kayelectronics  ...   5573830.0      4%
8   9          Ganzlax  ...  11901180.0     18%
9  10      Trantraxlax  ...   5453060.0      7%

[10 rows x 8 columns]

In [62]:
df_2 = pd.read_csv('/content/drive/MyDrive/AI Production/Pandas/Fortune_10.csv')
df_2

   ID             Name  ...     Profit         Growth
0   1          Lamtone  ...    5274553            30%
1   2        Stripfind  ...   11412916            20%
2   3  Canecorporation  ...    3005820             7%
3   4         Mattouch  ...  No Values  Not available
4   5        Techdrill  ...    3138627            NaN
5   6         Techline  ...    8427816  Not available
6   7          Cityace  ...    3005116            16%
7   8   Kayelectronics  ...    5573830             4%
8   9          Ganzlax  ...   11901180            18%
9  10      Trantraxlax  ...    5453060             7%

[10 rows x 8 columns]

In [63]:
df_2 = pd.read_csv('/content/drive/MyDrive/AI Production/Pandas/Fortune_10.csv',na_values={'Industry':'No Values','Growth':'Not available'})
df_2

# Using Dict

   ID             Name  ...     Profit  Growth
0   1          Lamtone  ...    5274553     30%
1   2        Stripfind  ...   11412916     20%
2   3  Canecorporation  ...    3005820      7%
3   4         Mattouch  ...  No Values     NaN
4   5        Techdrill  ...    3138627     NaN
5   6         Techline  ...    8427816     NaN
6   7          Cityace  ...    3005116     16%
7   8   Kayelectronics  ...    5573830      4%
8   9          Ganzlax  ...   11901180     18%
9  10      Trantraxlax  ...    5453060      7%

[10 rows x 8 columns]

### If want keep some

In [64]:
df_2 = pd.read_csv('/content/drive/MyDrive/AI Production/Pandas/Fortune_10.csv')
df_2

   ID             Name  ...     Profit         Growth
0   1          Lamtone  ...    5274553            30%
1   2        Stripfind  ...   11412916            20%
2   3  Canecorporation  ...    3005820             7%
3   4         Mattouch  ...  No Values  Not available
4   5        Techdrill  ...    3138627            NaN
5   6         Techline  ...    8427816  Not available
6   7          Cityace  ...    3005116            16%
7   8   Kayelectronics  ...    5573830             4%
8   9          Ganzlax  ...   11901180            18%
9  10      Trantraxlax  ...    5453060             7%

[10 rows x 8 columns]

In [65]:
df_2 = pd.read_csv('/content/drive/MyDrive/AI Production/Pandas/Fortune_10.csv',keep_default_na=False)
df_2

   ID             Name  ...     Profit         Growth
0   1          Lamtone  ...    5274553            30%
1   2        Stripfind  ...   11412916            20%
2   3  Canecorporation  ...    3005820             7%
3   4         Mattouch  ...  No Values  Not available
4   5        Techdrill  ...    3138627           null
5   6         Techline  ...    8427816  Not available
6   7          Cityace  ...    3005116            16%
7   8   Kayelectronics  ...    5573830             4%
8   9          Ganzlax  ...   11901180            18%
9  10      Trantraxlax  ...    5453060             7%

[10 rows x 8 columns]

In [66]:
df_2 = pd.read_csv('/content/drive/MyDrive/AI Production/Pandas/Fortune_10.csv',keep_default_na=True)
df_2

   ID             Name  ...     Profit         Growth
0   1          Lamtone  ...    5274553            30%
1   2        Stripfind  ...   11412916            20%
2   3  Canecorporation  ...    3005820             7%
3   4         Mattouch  ...  No Values  Not available
4   5        Techdrill  ...    3138627            NaN
5   6         Techline  ...    8427816  Not available
6   7          Cityace  ...    3005116            16%
7   8   Kayelectronics  ...    5573830             4%
8   9          Ganzlax  ...   11901180            18%
9  10      Trantraxlax  ...    5453060             7%

[10 rows x 8 columns]

In [67]:
df_3 = pd.read_csv('/content/drive/MyDrive/AI Production/Pandas/fortune_500.csv')
df_3.head(3)

   rank               title  ...  assets  totshequity
0     1             Walmart  ...  198825      77798.0
1     2  Berkshire Hathaway  ...  620854     283001.0
2     3               Apple  ...  321686     128249.0

[3 rows x 23 columns]

##**If we don't have any nan value in dataset use "na_filter" it boost the performance**

In [68]:
df_3 = pd.read_csv('/content/drive/MyDrive/AI Production/Pandas/fortune_500.csv',na_filter=False)
df_3

     rank               title  ...  assets  totshequity
0       1             Walmart  ...  198825      77798.0
1       2  Berkshire Hathaway  ...  620854     283001.0
2       3               Apple  ...  321686     128249.0
3       4         Exxon Mobil  ...  330314     167325.0
4       5            McKesson  ...   56563       8924.0
..    ...                 ...  ...     ...          ...
495   496       Michaels Cos.  ...    2148      -1698.0
496   497       Toll Brothers  ...    9737       4229.0
497   498               Yahoo  ...   48083      31049.0
498   499       Vistra Energy  ...   15167       6597.0
499   500      ABM Industries  ...    2281        974.0

[500 rows x 23 columns]

## **isnull and Notnull**

In [69]:
df_2.isnull()

      ID   Name  Industry  Inception  Revenue  Expenses  Profit  Growth
0  False  False     False      False    False     False   False   False
1  False  False     False      False    False     False   False   False
2  False  False     False      False    False     False   False   False
3  False  False     False      False    False     False   False   False
4  False  False      True      False    False     False   False    True
5  False  False      True      False    False     False   False   False
6  False  False      True      False    False     False   False   False
7  False  False      True      False    False     False   False   False
8  False  False     False      False    False     False   False   False
9  False  False     False      False    False     False   False   False

In [70]:
df_2.isnull().sum()

ID           0
Name         0
Industry     4
Inception    0
Revenue      0
Expenses     0
Profit       0
Growth       1
dtype: int64

In [71]:
df_2.isnull().sum().sum()

5

In [72]:
df_3.isnull().sum()

rank           0
title          0
website        0
employees      0
sector         0
industry       0
hqlocation     0
hqaddr         0
hqcity         0
hqstate        0
hqzip          0
hqtel          0
ceo            0
ceo_title      0
address        0
ticker         0
fullname       0
revenues       0
revchange      0
profits        0
prftchange     0
assets         0
totshequity    0
dtype: int64

In [73]:
df_2.notnull()

     ID  Name  Industry  Inception  Revenue  Expenses  Profit  Growth
0  True  True      True       True     True      True    True    True
1  True  True      True       True     True      True    True    True
2  True  True      True       True     True      True    True    True
3  True  True      True       True     True      True    True    True
4  True  True     False       True     True      True    True   False
5  True  True     False       True     True      True    True    True
6  True  True     False       True     True      True    True    True
7  True  True     False       True     True      True    True    True
8  True  True      True       True     True      True    True    True
9  True  True      True       True     True      True    True    True

In [74]:
df_2.notnull().sum()

ID           10
Name         10
Industry      6
Inception    10
Revenue      10
Expenses     10
Profit       10
Growth        9
dtype: int64

## Series

In [75]:
import numpy as np

In [76]:
sr = pd.Series([1,2,3,np.nan,56,np.NAN])
sr

0     1.0
1     2.0
2     3.0
3     NaN
4    56.0
5     NaN
dtype: float64

In [77]:
sr.isnull().sum()

2

##**How to drop nan values**

In [78]:
df_2

   ID             Name  ...     Profit         Growth
0   1          Lamtone  ...    5274553            30%
1   2        Stripfind  ...   11412916            20%
2   3  Canecorporation  ...    3005820             7%
3   4         Mattouch  ...  No Values  Not available
4   5        Techdrill  ...    3138627            NaN
5   6         Techline  ...    8427816  Not available
6   7          Cityace  ...    3005116            16%
7   8   Kayelectronics  ...    5573830             4%
8   9          Ganzlax  ...   11901180            18%
9  10      Trantraxlax  ...    5453060             7%

[10 rows x 8 columns]

In [79]:
df_2 = pd.read_csv('/content/drive/MyDrive/AI Production/Pandas/Fortune_10.csv',na_values='Not available')
df_2

   ID             Name  ...     Profit  Growth
0   1          Lamtone  ...    5274553     30%
1   2        Stripfind  ...   11412916     20%
2   3  Canecorporation  ...    3005820      7%
3   4         Mattouch  ...  No Values     NaN
4   5        Techdrill  ...    3138627     NaN
5   6         Techline  ...    8427816     NaN
6   7          Cityace  ...    3005116     16%
7   8   Kayelectronics  ...    5573830      4%
8   9          Ganzlax  ...   11901180     18%
9  10      Trantraxlax  ...    5453060      7%

[10 rows x 8 columns]

In [80]:
df_2.dropna()

# It drops rows with nan values present
# By default it drops rows and it has axis=0

   ID             Name             Industry  ...           Expenses    Profit Growth
0   1          Lamtone          IT Services  ...  6,482,465 Dollars   5274553    30%
1   2        Stripfind   Financial Services  ...    916,455 Dollars  11412916    20%
2   3  Canecorporation               Health  ...  7,591,189 Dollars   3005820     7%
8   9          Ganzlax          IT Services  ...  3,878,113 Dollars  11901180    18%
9  10      Trantraxlax  Government Services  ...  5,635,276 Dollars   5453060     7%

[5 rows x 8 columns]

In [81]:
df_2 = pd.read_csv('/content/drive/MyDrive/AI Production/Pandas/Fortune_10.csv')
df_2

   ID             Name  ...     Profit         Growth
0   1          Lamtone  ...    5274553            30%
1   2        Stripfind  ...   11412916            20%
2   3  Canecorporation  ...    3005820             7%
3   4         Mattouch  ...  No Values  Not available
4   5        Techdrill  ...    3138627            NaN
5   6         Techline  ...    8427816  Not available
6   7          Cityace  ...    3005116            16%
7   8   Kayelectronics  ...    5573830             4%
8   9          Ganzlax  ...   11901180            18%
9  10      Trantraxlax  ...    5453060             7%

[10 rows x 8 columns]

In [82]:
# to drop column with na value, axis=1

df_2.dropna(axis=1)

   ID             Name  Inception       Revenue           Expenses     Profit
0   1          Lamtone       2009  $11,757,018   6,482,465 Dollars    5274553
1   2        Stripfind       2010  $12,329,371     916,455 Dollars   11412916
2   3  Canecorporation       2012  $10,597,009   7,591,189 Dollars    3005820
3   4         Mattouch       2013  $14,026,934   7,429,377 Dollars  No Values
4   5        Techdrill       2009  $10,573,990   7,435,363 Dollars    3138627
5   6         Techline       2006  $13,898,119   5,470,303 Dollars    8427816
6   7          Cityace       2010   $9,254,614   6,249,498 Dollars    3005116
7   8   Kayelectronics       2009   $9,451,943   3,878,113 Dollars    5573830
8   9          Ganzlax       2011  $14,001,180   3,878,113 Dollars   11901180
9  10      Trantraxlax       2011  $11,088,336   5,635,276 Dollars    5453060

## How to use "how"

In [83]:
df_2.dropna(how='any')
# By default how is set to any

   ID             Name  ...     Profit         Growth
0   1          Lamtone  ...    5274553            30%
1   2        Stripfind  ...   11412916            20%
2   3  Canecorporation  ...    3005820             7%
3   4         Mattouch  ...  No Values  Not available
8   9          Ganzlax  ...   11901180            18%
9  10      Trantraxlax  ...    5453060             7%

[6 rows x 8 columns]

In [84]:
df_2.dropna(axis=0,how='all')

# If make how=all, it drops only when if all the column or row has nan values

   ID             Name  ...     Profit         Growth
0   1          Lamtone  ...    5274553            30%
1   2        Stripfind  ...   11412916            20%
2   3  Canecorporation  ...    3005820             7%
3   4         Mattouch  ...  No Values  Not available
4   5        Techdrill  ...    3138627            NaN
5   6         Techline  ...    8427816  Not available
6   7          Cityace  ...    3005116            16%
7   8   Kayelectronics  ...    5573830             4%
8   9          Ganzlax  ...   11901180            18%
9  10      Trantraxlax  ...    5453060             7%

[10 rows x 8 columns]

## Threshold

* WE use threshold only when we required minimum non null values
* OR row or column with minimum one nan value

In [85]:
df_2.dropna(axis=1,thresh=1)

   ID             Name  ...     Profit         Growth
0   1          Lamtone  ...    5274553            30%
1   2        Stripfind  ...   11412916            20%
2   3  Canecorporation  ...    3005820             7%
3   4         Mattouch  ...  No Values  Not available
4   5        Techdrill  ...    3138627            NaN
5   6         Techline  ...    8427816  Not available
6   7          Cityace  ...    3005116            16%
7   8   Kayelectronics  ...    5573830             4%
8   9          Ganzlax  ...   11901180            18%
9  10      Trantraxlax  ...    5453060             7%

[10 rows x 8 columns]

In [86]:
df_2.dropna(axis=1,thresh=8)

# Minimum non nan values should be there

   ID             Name  Inception  ...           Expenses     Profit         Growth
0   1          Lamtone       2009  ...  6,482,465 Dollars    5274553            30%
1   2        Stripfind       2010  ...    916,455 Dollars   11412916            20%
2   3  Canecorporation       2012  ...  7,591,189 Dollars    3005820             7%
3   4         Mattouch       2013  ...  7,429,377 Dollars  No Values  Not available
4   5        Techdrill       2009  ...  7,435,363 Dollars    3138627            NaN
5   6         Techline       2006  ...  5,470,303 Dollars    8427816  Not available
6   7          Cityace       2010  ...  6,249,498 Dollars    3005116            16%
7   8   Kayelectronics       2009  ...  3,878,113 Dollars    5573830             4%
8   9          Ganzlax       2011  ...  3,878,113 Dollars   11901180            18%
9  10      Trantraxlax       2011  ...  5,635,276 Dollars    5453060             7%

[10 rows x 7 columns]

##**Subset**

In [87]:
df_2.dropna(subset=['ID'])

# ID column dont have any nan value,

   ID             Name  ...     Profit         Growth
0   1          Lamtone  ...    5274553            30%
1   2        Stripfind  ...   11412916            20%
2   3  Canecorporation  ...    3005820             7%
3   4         Mattouch  ...  No Values  Not available
4   5        Techdrill  ...    3138627            NaN
5   6         Techline  ...    8427816  Not available
6   7          Cityace  ...    3005116            16%
7   8   Kayelectronics  ...    5573830             4%
8   9          Ganzlax  ...   11901180            18%
9  10      Trantraxlax  ...    5453060             7%

[10 rows x 8 columns]

In [88]:
df_2.dropna(subset=['Industry'])

# Industry column have nan value, It drops respective rows

   ID             Name  ...     Profit         Growth
0   1          Lamtone  ...    5274553            30%
1   2        Stripfind  ...   11412916            20%
2   3  Canecorporation  ...    3005820             7%
3   4         Mattouch  ...  No Values  Not available
8   9          Ganzlax  ...   11901180            18%
9  10      Trantraxlax  ...    5453060             7%

[6 rows x 8 columns]

# **Fillna()**

In [89]:
df_new = pd.read_csv('/content/drive/MyDrive/AI Production/Pandas/Fortune_10.csv',na_values=['Not available','No Values'])
df_new

   ID             Name  ...      Profit  Growth
0   1          Lamtone  ...   5274553.0     30%
1   2        Stripfind  ...  11412916.0     20%
2   3  Canecorporation  ...   3005820.0      7%
3   4         Mattouch  ...         NaN     NaN
4   5        Techdrill  ...   3138627.0     NaN
5   6         Techline  ...   8427816.0     NaN
6   7          Cityace  ...   3005116.0     16%
7   8   Kayelectronics  ...   5573830.0      4%
8   9          Ganzlax  ...  11901180.0     18%
9  10      Trantraxlax  ...   5453060.0      7%

[10 rows x 8 columns]

## Using VAlue

* Scalar = single value
* list,dict

## Scalar

any single value

In [90]:
df_new.fillna(0)

   ID             Name  ...      Profit  Growth
0   1          Lamtone  ...   5274553.0     30%
1   2        Stripfind  ...  11412916.0     20%
2   3  Canecorporation  ...   3005820.0      7%
3   4         Mattouch  ...         0.0       0
4   5        Techdrill  ...   3138627.0       0
5   6         Techline  ...   8427816.0       0
6   7          Cityace  ...   3005116.0     16%
7   8   Kayelectronics  ...   5573830.0      4%
8   9          Ganzlax  ...  11901180.0     18%
9  10      Trantraxlax  ...   5453060.0      7%

[10 rows x 8 columns]

In [91]:
df_new.fillna('a')

   ID             Name  ...       Profit  Growth
0   1          Lamtone  ...  5.27455e+06     30%
1   2        Stripfind  ...  1.14129e+07     20%
2   3  Canecorporation  ...  3.00582e+06      7%
3   4         Mattouch  ...            a       a
4   5        Techdrill  ...  3.13863e+06       a
5   6         Techline  ...  8.42782e+06       a
6   7          Cityace  ...  3.00512e+06     16%
7   8   Kayelectronics  ...  5.57383e+06      4%
8   9          Ganzlax  ...  1.19012e+07     18%
9  10      Trantraxlax  ...  5.45306e+06      7%

[10 rows x 8 columns]

In [92]:
df_new.fillna({'Industry':'Dont Know','Profit':"Kuch B nahi","Growth":'nahi ho rhi'})

   ID             Name  ...       Profit       Growth
0   1          Lamtone  ...  5.27455e+06          30%
1   2        Stripfind  ...  1.14129e+07          20%
2   3  Canecorporation  ...  3.00582e+06           7%
3   4         Mattouch  ...  Kuch B nahi  nahi ho rhi
4   5        Techdrill  ...  3.13863e+06  nahi ho rhi
5   6         Techline  ...  8.42782e+06  nahi ho rhi
6   7          Cityace  ...  3.00512e+06          16%
7   8   Kayelectronics  ...  5.57383e+06           4%
8   9          Ganzlax  ...  1.19012e+07          18%
9  10      Trantraxlax  ...  5.45306e+06           7%

[10 rows x 8 columns]

## using method

* ffill = Forword Fill
* bfill = backword Fill
* also use PAD

In [93]:
df_new.fillna(method='ffill')

   ID             Name  ...      Profit  Growth
0   1          Lamtone  ...   5274553.0     30%
1   2        Stripfind  ...  11412916.0     20%
2   3  Canecorporation  ...   3005820.0      7%
3   4         Mattouch  ...   3005820.0      7%
4   5        Techdrill  ...   3138627.0      7%
5   6         Techline  ...   8427816.0      7%
6   7          Cityace  ...   3005116.0     16%
7   8   Kayelectronics  ...   5573830.0      4%
8   9          Ganzlax  ...  11901180.0     18%
9  10      Trantraxlax  ...   5453060.0      7%

[10 rows x 8 columns]

In [94]:
df_new.fillna(method='pad')

   ID             Name  ...      Profit  Growth
0   1          Lamtone  ...   5274553.0     30%
1   2        Stripfind  ...  11412916.0     20%
2   3  Canecorporation  ...   3005820.0      7%
3   4         Mattouch  ...   3005820.0      7%
4   5        Techdrill  ...   3138627.0      7%
5   6         Techline  ...   8427816.0      7%
6   7          Cityace  ...   3005116.0     16%
7   8   Kayelectronics  ...   5573830.0      4%
8   9          Ganzlax  ...  11901180.0     18%
9  10      Trantraxlax  ...   5453060.0      7%

[10 rows x 8 columns]

In [95]:
df_new.fillna(axis=0,value=5)

   ID             Name  ...      Profit  Growth
0   1          Lamtone  ...   5274553.0     30%
1   2        Stripfind  ...  11412916.0     20%
2   3  Canecorporation  ...   3005820.0      7%
3   4         Mattouch  ...         5.0       5
4   5        Techdrill  ...   3138627.0       5
5   6         Techline  ...   8427816.0       5
6   7          Cityace  ...   3005116.0     16%
7   8   Kayelectronics  ...   5573830.0      4%
8   9          Ganzlax  ...  11901180.0     18%
9  10      Trantraxlax  ...   5453060.0      7%

[10 rows x 8 columns]

In [96]:
df_new.fillna(axis=1,method='bfill')

   ID             Name  ...       Profit Growth
0   1          Lamtone  ...  5.27455e+06    30%
1   2        Stripfind  ...  1.14129e+07    20%
2   3  Canecorporation  ...  3.00582e+06     7%
3   4         Mattouch  ...          NaN    NaN
4   5        Techdrill  ...  3.13863e+06    NaN
5   6         Techline  ...  8.42782e+06    NaN
6   7          Cityace  ...  3.00512e+06    16%
7   8   Kayelectronics  ...  5.57383e+06     4%
8   9          Ganzlax  ...  1.19012e+07    18%
9  10      Trantraxlax  ...  5.45306e+06     7%

[10 rows x 8 columns]

## Limit

* Used when we need to fill specific nan value

In [97]:
df_new.fillna(method='ffill',limit=1)

   ID             Name  ...      Profit  Growth
0   1          Lamtone  ...   5274553.0     30%
1   2        Stripfind  ...  11412916.0     20%
2   3  Canecorporation  ...   3005820.0      7%
3   4         Mattouch  ...   3005820.0      7%
4   5        Techdrill  ...   3138627.0     NaN
5   6         Techline  ...   8427816.0     NaN
6   7          Cityace  ...   3005116.0     16%
7   8   Kayelectronics  ...   5573830.0      4%
8   9          Ganzlax  ...  11901180.0     18%
9  10      Trantraxlax  ...   5453060.0      7%

[10 rows x 8 columns]

In [98]:
df_new.fillna(method='ffill',limit=2)

   ID             Name  ...      Profit  Growth
0   1          Lamtone  ...   5274553.0     30%
1   2        Stripfind  ...  11412916.0     20%
2   3  Canecorporation  ...   3005820.0      7%
3   4         Mattouch  ...   3005820.0      7%
4   5        Techdrill  ...   3138627.0      7%
5   6         Techline  ...   8427816.0     NaN
6   7          Cityace  ...   3005116.0     16%
7   8   Kayelectronics  ...   5573830.0      4%
8   9          Ganzlax  ...  11901180.0     18%
9  10      Trantraxlax  ...   5453060.0      7%

[10 rows x 8 columns]

In [99]:
df_new.fillna('Akash',limit=3)

   ID             Name  ...       Profit  Growth
0   1          Lamtone  ...  5.27455e+06     30%
1   2        Stripfind  ...  1.14129e+07     20%
2   3  Canecorporation  ...  3.00582e+06      7%
3   4         Mattouch  ...        Akash   Akash
4   5        Techdrill  ...  3.13863e+06   Akash
5   6         Techline  ...  8.42782e+06   Akash
6   7          Cityace  ...  3.00512e+06     16%
7   8   Kayelectronics  ...  5.57383e+06      4%
8   9          Ganzlax  ...  1.19012e+07     18%
9  10      Trantraxlax  ...  5.45306e+06      7%

[10 rows x 8 columns]

# **Replace**

In [100]:
df_new.replace(to_replace='Health',value='Finance')

   ID             Name  ...      Profit  Growth
0   1          Lamtone  ...   5274553.0     30%
1   2        Stripfind  ...  11412916.0     20%
2   3  Canecorporation  ...   3005820.0      7%
3   4         Mattouch  ...         NaN     NaN
4   5        Techdrill  ...   3138627.0     NaN
5   6         Techline  ...   8427816.0     NaN
6   7          Cityace  ...   3005116.0     16%
7   8   Kayelectronics  ...   5573830.0      4%
8   9          Ganzlax  ...  11901180.0     18%
9  10      Trantraxlax  ...   5453060.0      7%

[10 rows x 8 columns]

In [101]:
df_new.replace('Dollars','Rupies')

   ID             Name  ...      Profit  Growth
0   1          Lamtone  ...   5274553.0     30%
1   2        Stripfind  ...  11412916.0     20%
2   3  Canecorporation  ...   3005820.0      7%
3   4         Mattouch  ...         NaN     NaN
4   5        Techdrill  ...   3138627.0     NaN
5   6         Techline  ...   8427816.0     NaN
6   7          Cityace  ...   3005116.0     16%
7   8   Kayelectronics  ...   5573830.0      4%
8   9          Ganzlax  ...  11901180.0     18%
9  10      Trantraxlax  ...   5453060.0      7%

[10 rows x 8 columns]

In [102]:
df_new.replace(10,15)

   ID             Name  ...      Profit  Growth
0   1          Lamtone  ...   5274553.0     30%
1   2        Stripfind  ...  11412916.0     20%
2   3  Canecorporation  ...   3005820.0      7%
3   4         Mattouch  ...         NaN     NaN
4   5        Techdrill  ...   3138627.0     NaN
5   6         Techline  ...   8427816.0     NaN
6   7          Cityace  ...   3005116.0     16%
7   8   Kayelectronics  ...   5573830.0      4%
8   9          Ganzlax  ...  11901180.0     18%
9  15      Trantraxlax  ...   5453060.0      7%

[10 rows x 8 columns]

In [103]:
df_new.replace([1,2,3,4,5,6,7,8,9,10],'No ID')

      ID             Name  ...      Profit  Growth
0  No ID          Lamtone  ...   5274553.0     30%
1  No ID        Stripfind  ...  11412916.0     20%
2  No ID  Canecorporation  ...   3005820.0      7%
3  No ID         Mattouch  ...         NaN     NaN
4  No ID        Techdrill  ...   3138627.0     NaN
5  No ID         Techline  ...   8427816.0     NaN
6  No ID          Cityace  ...   3005116.0     16%
7  No ID   Kayelectronics  ...   5573830.0      4%
8  No ID          Ganzlax  ...  11901180.0     18%
9  No ID      Trantraxlax  ...   5453060.0      7%

[10 rows x 8 columns]

In [104]:
df_new.replace({'Industry':'IT Services'},'Only IT')

   ID             Name  ...      Profit  Growth
0   1          Lamtone  ...   5274553.0     30%
1   2        Stripfind  ...  11412916.0     20%
2   3  Canecorporation  ...   3005820.0      7%
3   4         Mattouch  ...         NaN     NaN
4   5        Techdrill  ...   3138627.0     NaN
5   6         Techline  ...   8427816.0     NaN
6   7          Cityace  ...   3005116.0     16%
7   8   Kayelectronics  ...   5573830.0      4%
8   9          Ganzlax  ...  11901180.0     18%
9  10      Trantraxlax  ...   5453060.0      7%

[10 rows x 8 columns]

## How to replace all string values of DataFrame to the integer

In [105]:
df_new.replace('[A_Za-z]',100)

   ID             Name  ...      Profit  Growth
0   1          Lamtone  ...   5274553.0     30%
1   2        Stripfind  ...  11412916.0     20%
2   3  Canecorporation  ...   3005820.0      7%
3   4         Mattouch  ...         NaN     NaN
4   5        Techdrill  ...   3138627.0     NaN
5   6         Techline  ...   8427816.0     NaN
6   7          Cityace  ...   3005116.0     16%
7   8   Kayelectronics  ...   5573830.0      4%
8   9          Ganzlax  ...  11901180.0     18%
9  10      Trantraxlax  ...   5453060.0      7%

[10 rows x 8 columns]

In [106]:
df_new.replace('[A_Za-z]',100,regex=True)

   ID  Name  Industry  Inception       Revenue  Expenses      Profit Growth
0   1   100     100.0       2009  $11,757,018        100   5274553.0    30%
1   2   100     100.0       2010  $12,329,371        100  11412916.0    20%
2   3   100     100.0       2012  $10,597,009        100   3005820.0     7%
3   4   100     100.0       2013  $14,026,934        100         NaN    NaN
4   5   100       NaN       2009  $10,573,990        100   3138627.0    NaN
5   6   100       NaN       2006  $13,898,119        100   8427816.0    NaN
6   7   100       NaN       2010   $9,254,614        100   3005116.0    16%
7   8   100       NaN       2009   $9,451,943        100   5573830.0     4%
8   9   100     100.0       2011  $14,001,180        100  11901180.0    18%
9  10   100     100.0       2011  $11,088,336        100   5453060.0     7%

In [107]:
# replace in specific column

df_new.replace({'Industry':'[A_Za-z]'},100,regex=True)

   ID             Name  Industry  ...           Expenses      Profit Growth
0   1          Lamtone     100.0  ...  6,482,465 Dollars   5274553.0    30%
1   2        Stripfind     100.0  ...    916,455 Dollars  11412916.0    20%
2   3  Canecorporation     100.0  ...  7,591,189 Dollars   3005820.0     7%
3   4         Mattouch     100.0  ...  7,429,377 Dollars         NaN    NaN
4   5        Techdrill       NaN  ...  7,435,363 Dollars   3138627.0    NaN
5   6         Techline       NaN  ...  5,470,303 Dollars   8427816.0    NaN
6   7          Cityace       NaN  ...  6,249,498 Dollars   3005116.0    16%
7   8   Kayelectronics       NaN  ...  3,878,113 Dollars   5573830.0     4%
8   9          Ganzlax     100.0  ...  3,878,113 Dollars  11901180.0    18%
9  10      Trantraxlax     100.0  ...  5,635,276 Dollars   5453060.0     7%

[10 rows x 8 columns]

## How to use method

In [108]:
df_new.replace('Health',method="ffill")

   ID             Name  ...      Profit  Growth
0   1          Lamtone  ...   5274553.0     30%
1   2        Stripfind  ...  11412916.0     20%
2   3  Canecorporation  ...   3005820.0      7%
3   4         Mattouch  ...         NaN     NaN
4   5        Techdrill  ...   3138627.0     NaN
5   6         Techline  ...   8427816.0     NaN
6   7          Cityace  ...   3005116.0     16%
7   8   Kayelectronics  ...   5573830.0      4%
8   9          Ganzlax  ...  11901180.0     18%
9  10      Trantraxlax  ...   5453060.0      7%

[10 rows x 8 columns]

## **Interpolate**

* Used to fill NAN Values in DataFrame or As

# **loc and iloc**

* Loc Give lacation wise
* iloc give index location wise

In [109]:
data = pd.read_csv('/content/drive/MyDrive/AI Production/Pandas/fortune_500.csv')
data.head()

   rank               title  ...  assets  totshequity
0     1             Walmart  ...  198825      77798.0
1     2  Berkshire Hathaway  ...  620854     283001.0
2     3               Apple  ...  321686     128249.0
3     4         Exxon Mobil  ...  330314     167325.0
4     5            McKesson  ...   56563       8924.0

[5 rows x 23 columns]

In [110]:
data.loc[0]

rank                                                       1
title                                                Walmart
website                               http://www.walmart.com
employees                                            2300000
sector                                             Retailing
industry                               General Merchandisers
hqlocation                                   Bentonville, AR
hqaddr                                   702 S.W. Eighth St.
hqcity                                           Bentonville
hqstate                                                   AR
hqzip                                                  72716
hqtel                                           479-273-4000
ceo                                      C. Douglas McMillon
ceo_title      President, Chief Executive Officer & Director
address           702 S.W. Eighth St., Bentonville, AR 72716
ticker                                                   WMT
fullname                               Wal-Mart Stores, Inc.
revenues                                              485873
revchange                                                0.8
profits                                                13643
prftchange                                              -7.2
assets                                                198825
totshequity                                            77798
Name: 0, dtype: object

In [111]:
data.loc[4]

# It returns 4 th row with its column and values

rank                                                       5
title                                               McKesson
website                              http://www.mckesson.com
employees                                              68000
sector                                           Wholesalers
industry                            Wholesalers: Health Care
hqlocation                                 San Francisco, CA
hqaddr                                            1 Post St.
hqcity                                         San Francisco
hqstate                                                   CA
hqzip                                                  94104
hqtel                                           415-983-8300
ceo                                       John H. Hammergren
ceo_title      Chairman, President & Chief Executive Officer
address                  1 Post St., San Francisco, CA 94104
ticker                                                   MCK
fullname                                McKesson Corporation
revenues                                              192487
revchange                                                6.2
profits                                                 2258
prftchange                                                53
assets                                                 56563
totshequity                                             8924
Name: 4, dtype: object

In [112]:
data.loc[[0,1]]

   rank               title  ...  assets  totshequity
0     1             Walmart  ...  198825      77798.0
1     2  Berkshire Hathaway  ...  620854     283001.0

[2 rows x 23 columns]

In [113]:
# To get specific value from column and row

data.loc[1,'sector']

'Financials'

In [114]:
# Using slicing
data.loc[0:3,'hqcity']

0    Bentonville
1          Omaha
2      Cupertino
3         Irving
Name: hqcity, dtype: object

In [115]:
data.loc[df['employees']>1000000]

   rank    title                 website  ...  prftchange  assets totshequity
0     1  Walmart  http://www.walmart.com  ...        -7.2  198825     77798.0

[1 rows x 23 columns]

In [116]:
# To get specific value you can also add other column
data.loc[df['employees']>1000000,'industry']

0    General Merchandisers
Name: industry, dtype: object

# **iloc**

* Integer Location based Indexing
* It uses numeric numbering to access data

In [117]:
data.iloc[0]

rank                                                       1
title                                                Walmart
website                               http://www.walmart.com
employees                                            2300000
sector                                             Retailing
industry                               General Merchandisers
hqlocation                                   Bentonville, AR
hqaddr                                   702 S.W. Eighth St.
hqcity                                           Bentonville
hqstate                                                   AR
hqzip                                                  72716
hqtel                                           479-273-4000
ceo                                      C. Douglas McMillon
ceo_title      President, Chief Executive Officer & Director
address           702 S.W. Eighth St., Bentonville, AR 72716
ticker                                                   WMT
fullname                               Wal-Mart Stores, Inc.
revenues                                              485873
revchange                                                0.8
profits                                                13643
prftchange                                              -7.2
assets                                                198825
totshequity                                            77798
Name: 0, dtype: object

In [126]:
data.iloc[[0]][0:3]

   rank    title                 website  ...  prftchange  assets totshequity
0     1  Walmart  http://www.walmart.com  ...        -7.2  198825     77798.0

[1 rows x 23 columns]

In [124]:
data.iloc[0:,0:2]

     rank               title
0       1             Walmart
1       2  Berkshire Hathaway
2       3               Apple
3       4         Exxon Mobil
4       5            McKesson
..    ...                 ...
495   496       Michaels Cos.
496   497       Toll Brothers
497   498               Yahoo
498   499       Vistra Energy
499   500      ABM Industries

[500 rows x 2 columns]

# **GROUPBY**

In [127]:
data.head(3)

   rank               title  ...  assets  totshequity
0     1             Walmart  ...  198825      77798.0
1     2  Berkshire Hathaway  ...  620854     283001.0
2     3               Apple  ...  321686     128249.0

[3 rows x 23 columns]

In [128]:
sector=data.groupby(by='sector')
sector

In [131]:
sector.groups

{'Aerospace & Defense': [23, 49, 55, 89, 113, 115, 199, 227, 272, 379, 392, 491], 'Apparel': [87, 229, 334, 370, 431], 'Business Services': [145, 178, 186, 191, 200, 239, 241, 263, 266, 298, 300, 344, 377, 451, 458, 470, 477, 489, 492, 499], 'Chemicals': [61, 112, 182, 203, 210, 235, 274, 288, 293, 308, 376, 466, 481, 483], 'Energy': [3, 18, 33, 36, 50, 78, 88, 102, 114, 116, 120, 121, 140, 144, 156, 166, 169, 171, 172, 174, 193, 195, 214, 228, 230, 233, 234, 236, 237, 255, 262, 271, 273, 277, 279, 284, 307, 311, 327, 342, 343, 348, 355, 357, 361, 364, 366, 367, 374, 399, 401, 418, 430, 456, 479, 487, 498], 'Engineering & Construction': [148, 160, 231, 258, 259, 323, 352, 354, 359, 414, 445, 493, 496], 'Financials': [1, 19, 20, 24, 25, 29, 32, 38, 41, 47, 54, 64, 67, 74, 75, 76, 77, 79, 83, 85, 96, 98, 99, 101, 119, 124, 125, 152, 165, 167, 176, 184, 188, 206, 209, 212, 213, 217, 221, 226, 238, 244, 245, 254, 257, 261, 265, 270, 276, 285, 292, 301, 302, 314, 315, 328, 341, 353, 356, 360, 381, 388, 390, 397, 402, 404, 410, 427, 435, 436, 438, 447, 450, 454, 459, 461, 463, 468, 471, 474, 475, 476, 478, 482], 'Food & Drug Stores': [16, 17, 48, 84, 90, 157, 175], 'Food, Beverages & Tobacco': [43, 44, 63, 81, 92, 103, 105, 108, 147, 164, 196, 208, 215, 222, 294, 338, 345, 350, 368, 407, 415, 426, 455, 485], 'Health Care': [5, 6, 21, 28, 34, 42, 52, 53, 62, 65, 68, 69, 91, 110, 122, 129, 131, 133, 134, 146, 155, 180, 194, 224, 247, 251, 253, 275, 280, 289, 326, 351, 365, 373, 375, 389, 433, 453], 'Hotels, Restaurants & Leisure': [111, 130, 162, 240, 248, 296, 384, 398, 421, 460], 'Household Products': [35, 154, 181, 207, 249, 252, 310, 371, 417, 443, 452, 473], 'Industrials': [12, 72, 73, 93, 104, 136, 138, 158, 163, 201, 250, 297, 336, 369, 385, 391, 424, 441, 444], 'Materials': [132, 168, 189, 278, 299, 305, 319, 332, 340, 346, 394, 396, 400, 412, 420, 429, 440, 449, 457], 'Media': [51, 94, 100, 192, 223, 329, 331, 387, 411, 425, 490], 'Motor Vehicles & Parts': [7, 9, 150, 183, 282, 304, 321, 382, 446], 'Retailing': [0, 15, 22, 37, 39, 71, 86, 109, 126, 127, 128, 135, 139, 141, 149, 173, 177, 187, 202, 218, 219, 220, 232, 243, 260, 268, 269, 286, 290, 291, 295, 306, 317, 318, 320, 322, 339, 347, 383, 395, 409, 416, 422, 462, 469, 494, 495], 'Technology': [2, 11, 26, 27, 31, 40, 46, 58, 59, 60, 80, 97, 118, 143, 151, 153, 161, 198, 204, 205, 216, 225, 264, 267, 309, 313, 316, 325, 362, 378, 380, 386, 405, 408, 413, 423, 432, 439, 442, 464, 467, 480, 497], 'Telecommunications': [8, 13, 30, 95, 159, 185, 312, 335, 448, 484], 'Transportation': [45, 57, 66, 70, 82, 137, 142, 190, 211, 256, 283, 393, 403, 406, 428, 434, 437], 'Wholesalers': [4, 10, 14, 56, 106, 107, 117, 123, 170, 179, 197, 242, 246, 281, 287, 303, 324, 330, 333, 337, 349, 358, 363, 372, 419, 465, 472, 486, 488]}

In [133]:
list(sector.groups)

['Aerospace & Defense',
 'Apparel',
 'Business Services',
 'Chemicals',
 'Energy',
 'Engineering & Construction',
 'Financials',
 'Food & Drug Stores',
 'Food, Beverages & Tobacco',
 'Health Care',
 'Hotels, Restaurants & Leisure',
 'Household Products',
 'Industrials',
 'Materials',
 'Media',
 'Motor Vehicles & Parts',
 'Retailing',
 'Technology',
 'Telecommunications',
 'Transportation',
 'Wholesalers']

In [135]:
ls = data.groupby(by=['sector','hqzip'])

In [136]:
ls.groups

{('Aerospace & Defense', 2451): [115], ('Aerospace & Defense', 2903): [199], ('Aerospace & Defense', 6032): [49], ('Aerospace & Defense', 10016): [272], ('Aerospace & Defense', 10022): [227], ('Aerospace & Defense', 20817): [55], ('Aerospace & Defense', 22042): [89, 113], ('Aerospace & Defense', 23607): [379], ('Aerospace & Defense', 52498): [491], ('Aerospace & Defense', 60606): [23], ('Aerospace & Defense', 67210): [392], ('Apparel', 10016): [334], ('Apparel', 10022): [370], ('Apparel', 27105): [431], ('Apparel', 27408): [229], ('Apparel', 97005): [87], ('Business Services', 6902): [451], ('Business Services', 7068): [239], ('Business Services', 10006): [499], ('Business Services', 10022): [178, 344], ('Business Services', 10041): [458], ('Business Services', 10577): [266], ('Business Services', 19107): [191], ('Business Services', 30342): [241], ('Business Services', 32204): [300], ('Business Services', 48084): [489], ('Business Services', 53045): [470], ('Business Services', 53212): [145], ('Business Services', 75024): [377], ('Business Services', 77002): [200], ('Business Services', 80112): [477], ('Business Services', 85054): [298], ('Business Services', 94025): [492], ('Business Services', 94404): [186], ('Business Services', 95131): [263], ('Chemicals', 6810): [274], ('Chemicals', 15272): [182], ('Chemicals', 18195): [293], ('Chemicals', 19805): [112], ('Chemicals', 19899): [481], ('Chemicals', 37660): [308], ('Chemicals', 44115): [235], ('Chemicals', 48674): [61], ('Chemicals', 55102): [210], ('Chemicals', 55441): [376], ('Chemicals', 63105): [466], ('Chemicals', 63167): [203], ('Chemicals', 75039): [483], ('Chemicals', 77380): [288], ('Energy', 1104): [357], ('Energy', 7054): [171], ('Energy', 7102): [307], ('Energy', 8540): [228], ('Energy', 10003): [233], ('Energy', 18101): [364], ('Energy', 19406): [456], ('Energy', 22203): [193], ('Energy', 23219): [237], ('Energy', 28202): [120], ('Energy', 30308): [144], ('Energy', 33178): [102], ('Energy', 33408): [169], ('Energy', 37027): [479], ('Energy', 43215): [166], ('Energy', 44308): [195], ('Energy', 45840): [50], ('Energy', 48226): [271], ('Energy', 49201): [418], ('Energy', 53203): [367], ('Energy', 55401): [255], ('Energy', 60603): [88], ('Energy', 63103): [430], ('Energy', 70113): [262], ('Energy', 73102): [230], ('Energy', 73118): [342], ('Energy', 74103): [311], ('Energy', 74136): [236], ('Energy', 74172): [366], ('Energy', 75039): [3], ('Energy', 75201): [273, 498], ('Energy', 75225): [78], ('Energy', 77002): [121, 140, 214, 355, 361, 399, 401], ('Energy', 77032): [172], ('Energy', 77036): [374], ('Energy', 77042): [33], ('Energy', 77046): [277], ('Energy', 77056): [487], ('Energy', 77073): [284], ('Energy', 77079): [114], ('Energy', 77380): [343], ('Energy', 78249): [36], ('Energy', 78259): [116], ('Energy', 79905): [348], ('Energy', 80111): [327], ('Energy', 85004): [174], ('Energy', 91770): [234], ('Energy', 92101): [279], ('Energy', 94105): [156], ('Energy', 94583): [18], ('Engineering & Construction', 6851): [359], ...}

In [137]:
for sector, hq in ls:
  print(sector)
  print(hq)

('Aerospace & Defense', 2451)
     rank     title                  website  ...  prftchange assets totshequity
115   116  Raytheon  http://www.raytheon.com  ...         6.6  30052     10066.0

[1 rows x 23 columns]
('Aerospace & Defense', 2903)
     rank    title                 website  ...  prftchange assets totshequity
199   200  Textron  http://www.textron.com  ...        38.0  15358      5574.0

[1 rows x 23 columns]
('Aerospace & Defense', 6032)
    rank                title  ... assets  totshequity
49    50  United Technologies  ...  89706      27579.0

[1 rows x 23 columns]
('Aerospace & Defense', 10016)
     rank            title             website  ...  prftchange assets totshequity
272   273  L3 Technologies  http://www.l3t.com  ...        19.4  11865      4553.0

[1 rows x 23 columns]
('Aerospace & Defense', 10022)
     rank    title                 website  ...  prftchange assets totshequity
227   228  Arconic  http://www.arconic.com  ...         6.7  20038      5115.0

[1 rows x 23 columns]
('Aerospace & Defense', 20817)
    rank            title  ... assets  totshequity
55    56  Lockheed Martin  ...  47806       1511.0

[1 rows x 23 columns]
('Aerospace & Defense', 22042)
     rank             title  ... assets  totshequity
89     90  General Dynamics  ...  32872      10976.0
113   114  Northrop Grumman  ...  25614       5259.0

[2 rows x 23 columns]
('Aerospace & Defense', 23607)
     rank                          title  ... assets  totshequity
379   380  Huntington Ingalls Industries  ...   6352       1653.0

[1 rows x 23 columns]
('Aerospace & Defense', 52498)
     rank             title  ... assets  totshequity
491   492  Rockwell Collins  ...   7707       2078.0

[1 rows x 23 columns]
('Aerospace & Defense', 60606)
    rank   title                website  ...  prftchange assets totshequity
23    24  Boeing  http://www.boeing.com  ...        -5.4  89997       817.0

[1 rows x 23 columns]
('Aerospace & Defense', 67210)
     rank                        title  ... assets  totshequity
392   393  Spirit AeroSystems Holdings  ...   5405       1928.0

[1 rows x 23 columns]
('Apparel', 10016)
     rank title             website  ...  prftchange assets totshequity
334   335   PVH  http://www.pvh.com  ...        -4.1  11068      4805.0

[1 rows x 23 columns]
('Apparel', 10022)
     rank         title  ... assets  totshequity
370   371  Ralph Lauren  ...   6213       3744.0

[1 rows x 23 columns]
('Apparel', 27105)
     rank        title               website  ...  prftchange assets totshequity
431   432  Hanesbrands  http://www.hanes.com  ...        25.8   6908      1224.0

[1 rows x 23 columns]
('Apparel', 27408)
     rank title             website  ...  prftchange assets totshequity
229   230    VF  http://www.vfc.com  ...       -12.8   9739      4941.0

[1 rows x 23 columns]
('Apparel', 97005)
    rank title              website  ...  prftchange assets totshequity
87    88  Nike  http://www.nike.com  ...        14.9  21396     12258.0

[1 rows x 23 columns]
('Business Services', 6902)
     rank           title  ... assets  totshequity
451   452  United Rentals  ...  11988       1648.0

[1 rows x 23 columns]
('Business Services', 7068)
     rank title             website  ...  prftchange assets totshequity
239   240   ADP  http://www.adp.com  ...         2.8  43670      4482.0

[1 rows x 23 columns]
('Business Services', 10006)
     rank           title             website  ...  prftchange assets totshequity
499   500  ABM Industries  http://www.abm.com  ...       -25.0   2281       974.0

[1 rows x 23 columns]
('Business Services', 10022)
     rank              title  ... assets  totshequity
178   179      Omnicom Group  ...  23165       2162.0
344   345  Interpublic Group  ...  12485       2017.0

[2 rows x 23 columns]
('Business Services', 10041)
     rank       title                  website  ...  prftchange assets totshequity
458   459  S&P Global  http://www.spglobal.com  ...        82.2   8669       650.0

[1 rows x 23 columns]
('Business Services', 10577)
     rank       title  ... assets  totshequity
266   267  Mastercard  ...  18675       5656.0

[1 rows x 23 columns]
('Business Services', 19107)
     rank    title                 website  ...  prftchange assets totshequity
191   192  Aramark  http://www.aramark.com  ...        22.0  10582      2161.0

[1 rows x 23 columns]
('Business Services', 30342)
     rank       title  ... assets  totshequity
241   242  First Data  ...  40292       1220.0

[1 rows x 23 columns]
('Business Services', 32204)
     rank                                   title  ... assets  totshequity
300   301  Fidelity National Information Services  ...  26031       9741.0

[1 rows x 23 columns]
('Business Services', 48084)
     rank           title  ... assets  totshequity
489   490  Kelly Services  ...   2028       1012.0

[1 rows x 23 columns]
('Business Services', 53045)
     rank   title                website  ...  prftchange assets totshequity
470   471  Fiserv  http://www.fiserv.com  ...        30.6   9743      2541.0

[1 rows x 23 columns]
('Business Services', 53212)
     rank          title  ... assets  totshequity
145   146  ManpowerGroup  ...   7574       2362.0

[1 rows x 23 columns]
('Business Services', 75024)
     rank                  title  ... assets  totshequity
377   378  Alliance Data Systems  ...  25514       1658.0

[1 rows x 23 columns]
('Business Services', 77002)
     rank             title            website  ...  prftchange assets totshequity
200   201  Waste Management  http://www.wm.com  ...        57.0  20859      5297.0

[1 rows x 23 columns]
('Business Services', 80112)
     rank          title  ... assets  totshequity
477   478  Western Union  ...   9420        902.0

[1 rows x 23 columns]
('Business Services', 85054)
     rank              title  ... assets  totshequity
298   299  Republic Services  ...  20630       7691.0

[1 rows x 23 columns]
('Business Services', 94025)
     rank                      title  ... assets  totshequity
492   493  Robert Half International  ...   1778       1087.0

[1 rows x 23 columns]
('Business Services', 94404)
     rank title              website  ...  prftchange assets totshequity
186   187  Visa  http://www.visa.com  ...        -5.3  64035     32912.0

[1 rows x 23 columns]
('Business Services', 95131)
     rank            title  ... assets  totshequity
263   264  PayPal Holdings  ...  33103      14712.0

[1 rows x 23 columns]
('Chemicals', 6810)
     rank    title                 website  ...  prftchange assets totshequity
274   275  Praxair  http://www.praxair.com  ...        -3.0  19332      5021.0

[1 rows x 23 columns]
('Chemicals', 15272)
     rank           title             website  ...  prftchange assets totshequity
182   183  PPG Industries  http://www.ppg.com  ...       -37.6  15769      4826.0

[1 rows x 23 columns]
('Chemicals', 18195)
     rank                     title  ... assets  totshequity
293   294  Air Products & Chemicals  ...  18055       7080.0

[1 rows x 23 columns]
('Chemicals', 19805)
     rank   title                website  ...  prftchange assets totshequity
112   113  DuPont  http://www.dupont.com  ...        28.7  39964      9998.0

[1 rows x 23 columns]
('Chemicals', 19899)
     rank     title                  website  ...  prftchange assets totshequity
481   482  Chemours  http://www.chemours.com  ...        26.5   6060       100.0

[1 rows x 23 columns]
('Chemicals', 37660)
     rank             title  ... assets  totshequity
308   309  Eastman Chemical  ...  15457       4532.0

[1 rows x 23 columns]
('Chemicals', 44115)
     rank             title  ... assets  totshequity
235   236  Sherwin-Williams  ...   6753       1878.0

[1 rows x 23 columns]
('Chemicals', 48674)
    rank         title             website  ...  prftchange assets totshequity
61    62  Dow Chemical  http://www.dow.com  ...       -43.8  79511     25987.0

[1 rows x 23 columns]
('Chemicals', 55102)
     rank   title                website  ...  prftchange assets totshequity
210   211  Ecolab  http://www.ecolab.com  ...        22.7  18330      6901.0

[1 rows x 23 columns]
('Chemicals', 55441)
     rank   title                  website  ...  prftchange assets totshequity
376   377  Mosaic  http://www.mosaicco.com  ...       -70.2  16841      9585.0

[1 rows x 23 columns]
('Chemicals', 63105)
     rank title              website  ...  prftchange assets totshequity
466   467  Olin  http://www.olin.com  ...       -16.2   8763      2273.0

[1 rows x 23 columns]
('Chemicals', 63167)
     rank     title                  website  ...  prftchange assets totshequity
203   204  Monsanto  http://www.monsanto.com  ...       -42.3  19736      4534.0

[1 rows x 23 columns]
('Chemicals', 75039)
     rank     title                  website  ...  prftchange assets totshequity
483   484  Celanese  http://www.celanese.com  ...       196.1   8357      2588.0

[1 rows x 23 columns]
('Chemicals', 77380)
     rank     title                  website  ...  prftchange assets totshequity
288   289  Huntsman  http://www.huntsman.com  ...       250.5   9189      1287.0

[1 rows x 23 columns]
('Energy', 1104)
     rank              title  ... assets  totshequity
357   358  Eversource Energy  ...  32053      10712.0

[1 rows x 23 columns]
('Energy', 7054)
     rank       title  ... assets  totshequity
171   172  PBF Energy  ...   7622       2025.0

[1 rows x 23 columns]
('Energy', 7102)
     rank                            title  ... assets  totshequity
307   306  Public Service Enterprise Group  ...  40070      13130.0

[1 rows x 23 columns]
('Energy', 8540)
     rank       title             website  ...  prftchange assets totshequity
228   229  NRG Energy  http://www.nrg.com  ...         6.7  30355      2041.0

[1 rows x 23 columns]
('Energy', 10003)
     rank                title  ... assets  totshequity
233   234  Consolidated Edison  ...  48255      14298.0

[1 rows x 23 columns]
('Energy', 18101)
     rank title                website  ...  prftchange assets totshequity
364   365   PPL  http://www.pplweb.com  ...       178.9  38315      9899.0

[1 rows x 23 columns]
('Energy', 19406)
     rank title                 website  ...  prftchange assets totshequity
456   457   UGI  http://www.ugicorp.com  ...        29.8  10847      2851.0

[1 rows x 23 columns]
('Energy', 22203)
     rank title             website  ...  prftchange assets totshequity
193   194   AES  http://www.aes.com  ...      -469.3  36119      2794.0

[1 rows x 23 columns]
('Energy', 23219)
     rank            title  ... assets  totshequity
237   238  Dominion Energy  ...  71610      14605.0

[1 rows x 23 columns]
('Energy', 28202)
     rank        title  ...  assets  totshequity
120   121  Duke Energy  ...  132761      41033.0

[1 rows x 23 columns]
('Energy', 30308)
     rank     title  ...  assets  totshequity
144   145  Southern  ...  109697      24758.0

[1 rows x 23 columns]
('Energy', 33178)
     rank                title  ... assets  totshequity
102   103  World Fuel Services  ...   5413       1925.0

[1 rows x 23 columns]
('Energy', 33408)
     rank           title  ... assets  totshequity
169   170  NextEra Energy  ...  89993      24341.0

[1 rows x 23 columns]
('Energy', 37027)
     rank              title  ... assets  totshequity
479   480  Delek US Holdings  ...   2985        992.0

[1 rows x 23 columns]
('Energy', 43215)
     rank                    title  ... assets  totshequity
166   167  American Electric Power  ...  63468      17397.0

[1 rows x 23 columns]
('Energy', 44308)
     rank        title  ... assets  totshequity
195   196  FirstEnergy  ...  43148       6241.0

[1 rows x 23 columns]
('Energy', 45840)
    rank               title  ... assets  totshequity
50    51  Marathon Petroleum  ...  44413      13557.0

[1 rows x 23 columns]
('Energy', 48226)
     rank       title  ... assets  totshequity
271   272  DTE Energy  ...  32041       9011.0

[1 rows x 23 columns]
('Energy', 49201)
     rank       title  ... assets  totshequity
418   419  CMS Energy  ...  21622       4253.0

[1 rows x 23 columns]
('Energy', 53203)
     rank             title  ... assets  totshequity
367   368  WEC Energy Group  ...  30123       8930.0

[1 rows x 23 columns]
('Energy', 55401)
     rank        title  ... assets  totshequity
255   256  Xcel Energy  ...  41155      11021.0

[1 rows x 23 columns]
('Energy', 60603)
    rank   title                    website  ...  prftchange  assets totshequity
88    89  Exelon  http://www.exeloncorp.com  ...       -50.0  114904     25837.0

[1 rows x 23 columns]
('Energy', 63103)
     rank   title                website  ...  prftchange assets totshequity
430   431  Ameren  http://www.ameren.com  ...         3.7  24699      7103.0

[1 rows x 23 columns]
('Energy', 70113)
     rank    title                 website  ...  prftchange assets totshequity
262   263  Entergy  http://www.entergy.com  ...       -54.2  45904      8082.0

[1 rows x 23 columns]
('Energy', 73102)
     rank         title  ... assets  totshequity
230   231  Devon Energy  ...  25913       5927.0

[1 rows x 23 columns]
('Energy', 73118)
     rank              title  ... assets  totshequity
342   343  Chesapeake Energy  ...  13028      -1460.0

[1 rows x 23 columns]
('Energy', 74103)
     rank  title               website  ...  prftchange assets totshequity
311   312  Oneok  http://www.oneok.com  ...        43.7  16139       189.0

[1 rows x 23 columns]
('Energy', 74136)
     rank                title  ... assets  totshequity
236   237  NGL Energy Partners  ...   5560       1656.0

[1 rows x 23 columns]
('Energy', 74172)
     rank     title                  website  ...  prftchange assets totshequity
366   367  Williams  http://www.williams.com  ...        -9.0  46835      4643.0

[1 rows x 23 columns]
('Energy', 75039)
   rank        title  ...  assets  totshequity
3     4  Exxon Mobil  ...  330314     167325.0

[1 rows x 23 columns]
('Energy', 75201)
     rank          title  ... assets  totshequity
273   274  HollyFrontier  ...   9436       4681.0
498   499  Vistra Energy  ...  15167       6597.0

[2 rows x 23 columns]
('Energy', 75225)
    rank                   title  ... assets  totshequity
78    79  Energy Transfer Equity  ...  79011      -1694.0

[1 rows x 23 columns]
('Energy', 77002)
     rank                         title  ... assets  totshequity
121   122  Enterprise Products Partners  ...  52194      22047.0
140   141            Plains GP Holdings  ...  26103       1737.0
214   215                 Kinder Morgan  ...  80305      34431.0
355   356                 EOG Resources  ...  29459      13982.0
361   362            CenterPoint Energy  ...  21829       3460.0
399   400                       Calpine  ...  19317       3268.0
401   402               Targa Resources  ...  12871       5439.0

[7 rows x 23 columns]
('Energy', 77032)
     rank        title  ... assets  totshequity
172   173  Halliburton  ...  27000       9409.0

[1 rows x 23 columns]
('Energy', 77036)
     rank                   title  ... assets  totshequity
374   375  National Oilwell Varco  ...  21140      13940.0

[1 rows x 23 columns]
('Energy', 77042)
    rank        title  ... assets  totshequity
33    34  Phillips 66  ...  51653      22390.0

[1 rows x 23 columns]
('Energy', 77046)
     rank                 title  ... assets  totshequity
277   278  Occidental Petroleum  ...  43109      21497.0

[1 rows x 23 columns]
('Energy', 77056)
     rank   title                    website  ...  prftchange assets totshequity
487   488  Apache  http://www.apachecorp.com  ...        82.5  22519      6238.0

[1 rows x 23 columns]
('Energy', 77073)
     rank         title  ... assets  totshequity
284   285  Baker Hughes  ...  19034      12656.0

[1 rows x 23 columns]
('Energy', 77079)
     rank           title  ... assets  totshequity
114   115  ConocoPhillips  ...  89772      34974.0

[1 rows x 23 columns]
('Energy', 77380)
     rank               title  ... assets  totshequity
343   344  Anadarko Petroleum  ...  45564      12212.0

[1 rows x 23 columns]
('Energy', 78249)
    rank          title                website  ...  prftchange assets totshequity
36    37  Valero Energy  http://www.valero.com  ...       -42.6  46173     20024.0

[1 rows x 23 columns]
('Energy', 78259)
     rank   title                 website  ...  prftchange assets totshequity
116   117  Tesoro  http://www.tsocorp.com  ...       -52.3  20398      5465.0

[1 rows x 23 columns]
('Energy', 79905)
     rank             title  ... assets  totshequity
348   349  Western Refining  ...   5560       1697.0

[1 rows x 23 columns]
('Energy', 80111)
     rank           title  ... assets  totshequity
327   328  Newmont Mining  ...  21031      10721.0

[1 rows x 23 columns]
('Energy', 85004)
     rank             title  ... assets  totshequity
174   175  Freeport-McMoRan  ...  37317       6051.0

[1 rows x 23 columns]
('Energy', 91770)
     rank                 title  ... assets  totshequity
234   235  Edison International  ...  51319      11996.0

[1 rows x 23 columns]
('Energy', 92101)
     rank          title  ... assets  totshequity
279   280  Sempra Energy  ...  47786      12951.0

[1 rows x 23 columns]
('Energy', 94105)
     rank       title                 website  ...  prftchange assets totshequity
156   157  PG&E Corp.  http://www.pgecorp.com  ...        59.4  68598     17940.0

[1 rows x 23 columns]
('Energy', 94583)
    rank    title                 website  ...  prftchange  assets totshequity
18    19  Chevron  http://www.chevron.com  ...      -110.8  260078    145556.0

[1 rows x 23 columns]
('Engineering & Construction', 6851)
     rank        title  ... assets  totshequity
359   360  EMCOR Group  ...   3894       1537.0

[1 rows x 23 columns]
('Engineering & Construction', 19044)
     rank          title  ... assets  totshequity
496   497  Toll Brothers  ...   9737       4229.0

[1 rows x 23 columns]
('Engineering & Construction', 20190)
     rank title                website  ...  prftchange assets totshequity
445   446   NVR  http://www.nvrinc.com  ...        11.1   2644      1304.0

[1 rows x 23 columns]
('Engineering & Construction', 22209)
     rank              title  ... assets  totshequity
414   415  CalAtlantic Group  ...   8709       4208.0

[1 rows x 23 columns]
('Engineering & Construction', 30326)
     rank       title  ... assets  totshequity
352   353  PulteGroup  ...  10178       4659.0

[1 rows x 23 columns]
('Engineering & Construction', 33172)
     rank   title                website  ...  prftchange assets totshequity
259   260  Lennar  http://www.lennar.com  ...        13.6  15362      7026.0

[1 rows x 23 columns]
('Engineering & Construction', 68131)
     rank               title  ... assets  totshequity
323   324  Peter Kiewit Sons  ...   6179       3268.0

[1 rows x 23 columns]
('Engineering & Construction', 75039)
     rank  title               website  ...  prftchange assets totshequity
148   149  Fluor  http://www.fluor.com  ...       -31.8   9216      3125.0

[1 rows x 23 columns]
('Engineering & Construction', 75201)
     rank                     title  ... assets  totshequity
258   259  Jacobs Engineering Group  ...   7360       4265.0

[1 rows x 23 columns]
('Engineering & Construction', 76102)
     rank        title  ... assets  totshequity
231   232  D.R. Horton  ...  11559       6793.0

[1 rows x 23 columns]
('Engineering & Construction', 77056)
     rank            title  ... assets  totshequity
354   355  Quanta Services  ...   5354       3339.0

[1 rows x 23 columns]
('Engineering & Construction', 80112)
     rank      title              website  ...  prftchange assets totshequity
493   494  CH2M Hill  http://www.ch2m.com  ...       -81.3   2671       547.0

[1 rows x 23 columns]
('Engineering & Construction', 90067)
     rank  title               website  ...  prftchange assets totshequity
160   161  AECOM  http://www.aecom.com  ...       -28.7  13727      3367.0


In [138]:
dict(list(ls))

{('Aerospace & Defense',
  2451):      rank     title                  website  ...  prftchange assets totshequity
 115   116  Raytheon  http://www.raytheon.com  ...         6.6  30052     10066.0

 [1 rows x 23 columns],
 ('Aerospace & Defense',
  2903):      rank    title                 website  ...  prftchange assets totshequity
 199   200  Textron  http://www.textron.com  ...        38.0  15358      5574.0

 [1 rows x 23 columns],
 ('Aerospace & Defense',
  6032):     rank                title  ... assets  totshequity
 49    50  United Technologies  ...  89706      27579.0

 [1 rows x 23 columns],
 ('Aerospace & Defense',
  10016):      rank            title             website  ...  prftchange assets totshequity
 272   273  L3 Technologies  http://www.l3t.com  ...        19.4  11865      4553.0

 [1 rows x 23 columns],
 ('Aerospace & Defense',
  10022):      rank    title                 website  ...  prftchange assets totshequity
 227   228  Arconic  http://www.arconic.com  ...         6.7  20038      5115.0

 [1 rows x 23 columns],
 ('Aerospace & Defense',
  20817):     rank            title  ... assets  totshequity
 55    56  Lockheed Martin  ...  47806       1511.0

 [1 rows x 23 columns],
 ('Aerospace & Defense',
  22042):      rank             title  ... assets  totshequity
 89     90  General Dynamics  ...  32872      10976.0
 113   114  Northrop Grumman  ...  25614       5259.0

 [2 rows x 23 columns],
 ('Aerospace & Defense',
  23607):      rank                          title  ... assets  totshequity
 379   380  Huntington Ingalls Industries  ...   6352       1653.0

 [1 rows x 23 columns],
 ('Aerospace & Defense',
  52498):      rank             title  ... assets  totshequity
 491   492  Rockwell Collins  ...   7707       2078.0

 [1 rows x 23 columns],
 ('Aerospace & Defense',
  60606):     rank   title                website  ...  prftchange assets totshequity
 23    24  Boeing  http://www.boeing.com  ...        -5.4  89997       817.0

 [1 rows x 23 columns],
 ('Aerospace & Defense',
  67210):      rank                        title  ... assets  totshequity
 392   393  Spirit AeroSystems Holdings  ...   5405       1928.0

 [1 rows x 23 columns],
 ('Apparel',
  10016):      rank title             website  ...  prftchange assets totshequity
 334   335   PVH  http://www.pvh.com  ...        -4.1  11068      4805.0

 [1 rows x 23 columns],
 ('Apparel', 10022):      rank         title  ... assets  totshequity
 370   371  Ralph Lauren  ...   6213       3744.0

 [1 rows x 23 columns],
 ('Apparel',
  27105):      rank        title               website  ...  prftchange assets totshequity
 431   432  Hanesbrands  http://www.hanes.com  ...        25.8   6908      1224.0

 [1 rows x 23 columns],
 ('Apparel',
  27408):      rank title             website  ...  prftchange assets totshequity
 229   230    VF  http://www.vfc.com  ...       -12.8   9739      4941.0

 [1 rows x 23 columns],
 ('Apparel',
  97005):     rank title              website  ...  prftchange assets totshequity
 87    88  Nike  http://www.nike.com  ...        14.9  21396     12258.0

 [1 rows x 23 columns],
 ('Business Services',
  6902):      rank           title  ... assets  totshequity
 451   452  United Rentals  ...  11988       1648.0

 [1 rows x 23 columns],
 ('Business Services',
  7068):      rank title             website  ...  prftchange assets totshequity
 239   240   ADP  http://www.adp.com  ...         2.8  43670      4482.0

 [1 rows x 23 columns],
 ('Business Services',
  10006):      rank           title             website  ...  prftchange assets totshequity
 499   500  ABM Industries  http://www.abm.com  ...       -25.0   2281       974.0

 [1 rows x 23 columns],
 ('Business Services',
  10022):      rank              title  ... assets  totshequity
 178   179      Omnicom Group  ...  23165       2162.0
 344   345  Interpublic Group  ...  12485       2017.0

 [2 rows x 23 columns],
 ('Business Services',
  10041):      rank       title                  website  ...  prftchange assets totshequity
 458   459  S&P Global  http://www.spglobal.com  ...        82.2   8669       650.0

 [1 rows x 23 columns],
 ('Business Services', 10577):      rank       title  ... assets  totshequity
 266   267  Mastercard  ...  18675       5656.0

 [1 rows x 23 columns],
 ('Business Services',
  19107):      rank    title                 website  ...  prftchange assets totshequity
 191   192  Aramark  http://www.aramark.com  ...        22.0  10582      2161.0

 [1 rows x 23 columns],
 ('Business Services', 30342):      rank       title  ... assets  totshequity
 241   242  First Data  ...  40292       1220.0

 [1 rows x 23 columns],
 ('Business Services',
  32204):      rank                                   title  ... assets  totshequity
 300   301  Fidelity National Information Services  ...  26031       9741.0

 [1 rows x 23 columns],
 ('Business Services',
  48084):      rank           title  ... assets  totshequity
 489   490  Kelly Services  ...   2028       1012.0

 [1 rows x 23 columns],
 ('Business Services',
  53045):      rank   title                website  ...  prftchange assets totshequity
 470   471  Fiserv  http://www.fiserv.com  ...        30.6   9743      2541.0

 [1 rows x 23 columns],
 ('Business Services',
  53212):      rank          title  ... assets  totshequity
 145   146  ManpowerGroup  ...   7574       2362.0

 [1 rows x 23 columns],
 ('Business Services',
  75024):      rank                  title  ... assets  totshequity
 377   378  Alliance Data Systems  ...  25514       1658.0

 [1 rows x 23 columns],
 ('Business Services',
  77002):      rank             title            website  ...  prftchange assets totshequity
 200   201  Waste Management  http://www.wm.com  ...        57.0  20859      5297.0

 [1 rows x 23 columns],
 ('Business Services',
  80112):      rank          title  ... assets  totshequity
 477   478  Western Union  ...   9420        902.0

 [1 rows x 23 columns],
 ('Business Services',
  85054):      rank              title  ... assets  totshequity
 298   299  Republic Services  ...  20630       7691.0

 [1 rows x 23 columns],
 ('Business Services',
  94025):      rank                      title  ... assets  totshequity
 492   493  Robert Half International  ...   1778       1087.0

 [1 rows x 23 columns],
 ('Business Services',
  94404):      rank title              website  ...  prftchange assets totshequity
 186   187  Visa  http://www.visa.com  ...        -5.3  64035     32912.0

 [1 rows x 23 columns],
 ('Business Services',
  95131):      rank            title  ... assets  totshequity
 263   264  PayPal Holdings  ...  33103      14712.0

 [1 rows x 23 columns],
 ('Chemicals',
  6810):      rank    title                 website  ...  prftchange assets totshequity
 274   275  Praxair  http://www.praxair.com  ...        -3.0  19332      5021.0

 [1 rows x 23 columns],
 ('Chemicals',
  15272):      rank           title             website  ...  prftchange assets totshequity
 182   183  PPG Industries  http://www.ppg.com  ...       -37.6  15769      4826.0

 [1 rows x 23 columns],
 ('Chemicals',
  18195):      rank                     title  ... assets  totshequity
 293   294  Air Products & Chemicals  ...  18055       7080.0

 [1 rows x 23 columns],
 ('Chemicals',
  19805):      rank   title                website  ...  prftchange assets totshequity
 112   113  DuPont  http://www.dupont.com  ...        28.7  39964      9998.0

 [1 rows x 23 columns],
 ('Chemicals',
  19899):      rank     title                  website  ...  prftchange assets totshequity
 481   482  Chemours  http://www.chemours.com  ...        26.5   6060       100.0

 [1 rows x 23 columns],
 ('Chemicals', 37660):      rank             title  ... assets  totshequity
 308   309  Eastman Chemical  ...  15457       4532.0

 [1 rows x 23 columns],
 ('Chemicals', 44115):      rank             title  ... assets  totshequity
 235   236  Sherwin-Williams  ...   6753       1878.0

 [1 rows x 23 columns],
 ('Chemicals',
  48674):     rank         title             website  ...  prftchange assets totshequity
 61    62  Dow Chemical  http://www.dow.com  ...       -43.8  79511     25987.0

 [1 rows x 23 columns],
 ('Chemicals',
  55102):      rank   title                website  ...  prftchange assets totshequity
 210   211  Ecolab  http://www.ecolab.com  ...        22.7  18330      6901.0

 [1 rows x 23 columns],
 ('Chemicals',
  55441):      rank   title                  website  ...  prftchange assets totshequity
 376   377  Mosaic  http://www.mosaicco.com  ...       -70.2  16841      9585.0

 [1 rows x 23 columns],
 ('Chemicals',
  63105):      rank title              website  ...  prftchange assets totshequity
 466   467  Olin  http://www.olin.com  ...       -16.2   8763      2273.0

 [1 rows x 23 columns],
 ('Chemicals',
  63167):      rank     title                  website  ...  prftchange assets totshequity
 203   204  Monsanto  http://www.monsanto.com  ...       -42.3  19736      4534.0

 [1 rows x 23 columns],
 ('Chemicals',
  75039):      rank     title                  website  ...  prftchange assets totshequity
 483   484  Celanese  http://www.celanese.com  ...       196.1   8357      2588.0

 [1 rows x 23 columns],
 ('Chemicals',
  77380):      rank     title                  website  ...  prftchange assets totshequity
 288   289  Huntsman  http://www.huntsman.com  ...       250.5   9189      1287.0

 [1 rows x 23 columns],
 ('Energy', 1104):      rank              title  ... assets  totshequity
 357   358  Eversource Energy  ...  32053      10712.0

 [1 rows x 23 columns],
 ('Energy', 7054):      rank       title  ... assets  totshequity
 171   172  PBF Energy  ...   7622       2025.0

 [1 rows x 23 columns],
 ('Energy',
  7102):      rank                            title  ... assets  totshequity
 307   306  Public Service Enterprise Group  ...  40070      13130.0

 [1 rows x 23 columns],
 ('Energy',
  8540):      rank       title             website  ...  prftchange assets totshequity
 228   229  NRG Energy  http://www.nrg.com  ...         6.7  30355      2041.0

 [1 rows x 23 columns],
 ('Energy', 10003):      rank                title  ... assets  totshequity
 233   234  Consolidated Edison  ...  48255      14298.0

 [1 rows x 23 columns],
 ('Energy',
  18101):      rank title                website  ...  prftchange assets totshequity
 364   365   PPL  http://www.pplweb.com  ...       178.9  38315      9899.0

 [1 rows x 23 columns],
 ('Energy',
  19406):      rank title                 website  ...  prftchange assets totshequity
 456   457   UGI  http://www.ugicorp.com  ...        29.8  10847      2851.0

 [1 rows x 23 columns],
 ('Energy',
  22203):      rank title             website  ...  prftchange assets totshequity
 193   194   AES  http://www.aes.com  ...      -469.3  36119      2794.0

 [1 rows x 23 columns],
 ('Energy', 23219):      rank            title  ... assets  totshequity
 237   238  Dominion Energy  ...  71610      14605.0

 [1 rows x 23 columns],
 ('Energy', 28202):      rank        title  ...  assets  totshequity
 120   121  Duke Energy  ...  132761      41033.0

 [1 rows x 23 columns],
 ('Energy', 30308):      rank     title  ...  assets  totshequity
 144   145  Southern  ...  109697      24758.0

 [1 rows x 23 columns],
 ('Energy', 33178):      rank                title  ... assets  totshequity
 102   103  World Fuel Services  ...   5413       1925.0

 [1 rows x 23 columns],
 ('Energy', 33408):      rank           title  ... assets  totshequity
 169   170  NextEra Energy  ...  89993      24341.0

 [1 rows x 23 columns],
 ('Energy', 37027):      rank              title  ... assets  totshequity
 479   480  Delek US Holdings  ...   2985        992.0

 [1 rows x 23 columns],
 ('Energy', 43215):      rank                    title  ... assets  totshequity
 166   167  American Electric Power  ...  63468      17397.0

 [1 rows x 23 columns],
 ('Energy', 44308):      rank        title  ... assets  totshequity
 195   196  FirstEnergy  ...  43148       6241.0

 [1 rows x 23 columns],
 ('Energy', 45840):     rank               title  ... assets  totshequity
 50    51  Marathon Petroleum  ...  44413      13557.0

 [1 rows x 23 columns],
 ('Energy', 48226):      rank       title  ... assets  totshequity
 271   272  DTE Energy  ...  32041       9011.0

 [1 rows x 23 columns],
 ('Energy', 49201):      rank       title  ... assets  totshequity
 418   419  CMS Energy  ...  21622       4253.0

 [1 rows x 23 columns],
 ('Energy', 53203):      rank             title  ... assets  totshequity
 367   368  WEC Energy Group  ...  30123       8930.0

 [1 rows x 23 columns],
 ('Energy', 55401):      rank        title  ... assets  totshequity
 255   256  Xcel Energy  ...  41155      11021.0

 [1 rows x 23 columns],
 ('Energy',
  60603):     rank   title                    website  ...  prftchange  assets totshequity
 88    89  Exelon  http://www.exeloncorp.com  ...       -50.0  114904     25837.0

 [1 rows x 23 columns],
 ('Energy',
  63103):      rank   title                website  ...  prftchange assets totshequity
 430   431  Ameren  http://www.ameren.com  ...         3.7  24699      7103.0

 [1 rows x 23 columns],
 ('Energy',
  70113):      rank    title                 website  ...  prftchange assets totshequity
 262   263  Entergy  http://www.entergy.com  ...       -54.2  45904      8082.0

 [1 rows x 23 columns],
 ('Energy', 73102):      rank         title  ... assets  totshequity
 230   231  Devon Energy  ...  25913       5927.0

 [1 rows x 23 columns],
 ('Energy', 73118):      rank              title  ... assets  totshequity
 342   343  Chesapeake Energy  ...  13028      -1460.0

 [1 rows x 23 columns],
 ('Energy',
  74103):      rank  title               website  ...  prftchange assets totshequity
 311   312  Oneok  http://www.oneok.com  ...        43.7  16139       189.0

 [1 rows x 23 columns],
 ('Energy', 74136):      rank                title  ... assets  totshequity
 236   237  NGL Energy Partners  ...   5560       1656.0

 [1 rows x 23 columns],
 ('Energy',
  74172):      rank     title                  website  ...  prftchange assets totshequity
 366   367  Williams  http://www.williams.com  ...        -9.0  46835      4643.0

 [1 rows x 23 columns],
 ('Energy', 75039):    rank        title  ...  assets  totshequity
 3     4  Exxon Mobil  ...  330314     167325.0

 [1 rows x 23 columns],
 ('Energy', 75201):      rank          title  ... assets  totshequity
 273   274  HollyFrontier  ...   9436       4681.0
 498   499  Vistra Energy  ...  15167       6597.0

 [2 rows x 23 columns],
 ('Energy', 75225):     rank                   title  ... assets  totshequity
 78    79  Energy Transfer Equity  ...  79011      -1694.0

 [1 rows x 23 columns],
 ('Energy',
  77002):      rank                         title  ... assets  totshequity
 121   122  Enterprise Products Partners  ...  52194      22047.0
 140   141            Plains GP Holdings  ...  26103       1737.0
 214   215                 Kinder Morgan  ...  80305      34431.0
 355   356                 EOG Resources  ...  29459      13982.0
 361   362            CenterPoint Energy  ...  21829       3460.0
 399   400                       Calpine  ...  19317       3268.0
 401   402               Targa Resources  ...  12871       5439.0

 [7 rows x 23 columns],
 ('Energy', 77032):      rank        title  ... assets  totshequity
 172   173  Halliburton  ...  27000       9409.0

 [1 rows x 23 columns],
 ('Energy', 77036):      rank                   title  ... assets  totshequity
 374   375  National Oilwell Varco  ...  21140      13940.0

 [1 rows x 23 columns],
 ('Energy', 77042):     rank        title  ... assets  totshequity
 33    34  Phillips 66  ...  51653      22390.0

 [1 rows x 23 columns],
 ('Energy', 77046):      rank                 title  ... assets  totshequity
 277   278  Occidental Petroleum  ...  43109      21497.0

 [1 rows x 23 columns],
 ('Energy',
  77056):      rank   title                    website  ...  prftchange assets totshequity
 487   488  Apache  http://www.apachecorp.com  ...        82.5  22519      6238.0

 [1 rows x 23 columns],
 ('Energy', 77073):      rank         title  ... assets  totshequity
 284   285  Baker Hughes  ...  19034      12656.0

 [1 rows x 23 columns],
 ('Energy', 77079):      rank           title  ... assets  totshequity
 114   115  ConocoPhillips  ...  89772      34974.0

 [1 rows x 23 columns],
 ('Energy', 77380):      rank               title  ... assets  totshequity
 343   344  Anadarko Petroleum  ...  45564      12212.0

 [1 rows x 23 columns],
 ('Energy',
  78249):     rank          title                website  ...  prftchange assets totshequity
 36    37  Valero Energy  http://www.valero.com  ...       -42.6  46173     20024.0

 [1 rows x 23 columns],
 ('Energy',
  78259):      rank   title                 website  ...  prftchange assets totshequity
 116   117  Tesoro  http://www.tsocorp.com  ...       -52.3  20398      5465.0

 [1 rows x 23 columns],
 ('Energy', 79905):      rank             title  ... assets  totshequity
 348   349  Western Refining  ...   5560       1697.0

 [1 rows x 23 columns],
 ('Energy', 80111):      rank           title  ... assets  totshequity
 327   328  Newmont Mining  ...  21031      10721.0

 [1 rows x 23 columns],
 ('Energy', 85004):      rank             title  ... assets  totshequity
 174   175  Freeport-McMoRan  ...  37317       6051.0

 [1 rows x 23 columns],
 ('Energy', 91770):      rank                 title  ... assets  totshequity
 234   235  Edison International  ...  51319      11996.0

 [1 rows x 23 columns],
 ('Energy', 92101):      rank          title  ... assets  totshequity
 279   280  Sempra Energy  ...  47786      12951.0

 [1 rows x 23 columns],
 ('Energy',
  94105):      rank       title                 website  ...  prftchange assets totshequity
 156   157  PG&E Corp.  http://www.pgecorp.com  ...        59.4  68598     17940.0

 [1 rows x 23 columns],
 ('Energy',
  94583):     rank    title                 website  ...  prftchange  assets totshequity
 18    19  Chevron  http://www.chevron.com  ...      -110.8  260078    145556.0

 [1 rows x 23 columns],
 ('Engineering & Construction',
  6851):      rank        title  ... assets  totshequity
 359   360  EMCOR Group  ...   3894       1537.0

 [1 rows x 23 columns],
 ('Engineering & Construction',
  19044):      rank          title  ... assets  totshequity
 496   497  Toll Brothers  ...   9737       4229.0

 [1 rows x 23 columns],
 ('Engineering & Construction',
  20190):      rank title                website  ...  prftchange assets totshequity
 445   446   NVR  http://www.nvrinc.com  ...        11.1   2644      1304.0

 [1 rows x 23 columns],
 ('Engineering & Construction',
  22209):      rank              title  ... assets  totshequity
 414   415  CalAtlantic Group  ...   8709       4208.0

 [1 rows x 23 columns],
 ('Engineering & Construction',
  30326):      rank       title  ... assets  totshequity
 352   353  PulteGroup  ...  10178       4659.0

 [1 rows x 23 columns],
 ('Engineering & Construction',
  33172):      rank   title                website  ...  prftchange assets totshequity
 259   260  Lennar  http://www.lennar.com  ...        13.6  15362      7026.0

 [1 rows x 23 columns],
 ('Engineering & Construction',
  68131):      rank               title  ... assets  totshequity
 323   324  Peter Kiewit Sons  ...   6179       3268.0

 [1 rows x 23 columns],
 ('Engineering & Construction',
  75039):      rank  title               website  ...  prftchange assets totshequity
 148   149  Fluor  http://www.fluor.com  ...       -31.8   9216      3125.0

 [1 rows x 23 columns],
 ('Engineering & Construction',
  75201):      rank                     title  ... assets  totshequity
 258   259  Jacobs Engineering Group  ...   7360       4265.0

 [1 rows x 23 columns],
 ('Engineering & Construction',

In [144]:
gr = data.groupby('sector').get_group('Apparel')
gr

     rank         title  ... assets  totshequity
87     88          Nike  ...  21396      12258.0
229   230            VF  ...   9739       4941.0
334   335           PVH  ...  11068       4805.0
370   371  Ralph Lauren  ...   6213       3744.0
431   432   Hanesbrands  ...   6908       1224.0

[5 rows x 23 columns]

# **merge**

* connects columns or indexes in DaraFrames based on one or more Key

In [146]:
df1 = pd.DataFrame({'ID':[1,2,3,4],
                    'Class':[9,10,11,12]})
df1

   ID  Class
0   1      9
1   2     10
2   3     11
3   4     12

In [154]:
df2 = pd.DataFrame({'ID':[1,2,3,5],
                    'NAME':['a','b','c','d']})
df2

   ID NAME
0   1    a
1   2    b
2   3    c
3   5    d

In [149]:
pd.merge(df1,df2,on = 'ID')

   ID  Class NAME
0   1      9    a
1   2     10    b
2   3     11    c
3   4     12    d

In [150]:
# Change position

pd.merge(df2,df1,on = 'ID')

   ID NAME  Class
0   1    a      9
1   2    b     10
2   3    c     11
3   4    d     12

In [151]:
pd.merge(df1,df2,on = 'ID',how='inner')

   ID  Class NAME
0   1      9    a
1   2     10    b
2   3     11    c
3   4     12    d

In [155]:
pd.merge(df1,df2,on = 'ID',how='left')

   ID  Class NAME
0   1      9    a
1   2     10    b
2   3     11    c
3   4     12  NaN

In [156]:
pd.merge(df1,df2,on = 'ID',how='right')

   ID  Class NAME
0   1    9.0    a
1   2   10.0    b
2   3   11.0    c
3   5    NaN    d

In [158]:
pd.merge(df1,df2,on = 'ID',how='outer')

   ID  Class NAME
0   1    9.0    a
1   2   10.0    b
2   3   11.0    c
3   4   12.0  NaN
4   5    NaN    d

In [159]:
pd.merge(df1,df2,on = 'ID',how='inner',indicator=True)

   ID  Class NAME _merge
0   1      9    a   both
1   2     10    b   both
2   3     11    c   both

In [160]:
df2 = pd.DataFrame({'ID':[5,6,7,8],
                    'NAME':['a','b','c','d']})
df2

   ID NAME
0   5    a
1   6    b
2   7    c
3   8    d

In [161]:
pd.merge(df1,df2,left_index=True,right_index=True)

   ID_x  Class  ID_y NAME
0     1      9     5    a
1     2     10     6    b
2     3     11     7    c
3     4     12     8    d

In [162]:
dd1 = pd.DataFrame({'ID':[5,6,7,8],
                    'NAME':['a','b','c','d']})
dd1

   ID NAME
0   5    a
1   6    b
2   7    c
3   8    d

In [163]:
dd2 = pd.DataFrame({'ID':[5,6,7,8],
                    'NAME':['a','b','c','d']})
dd2

   ID NAME
0   5    a
1   6    b
2   7    c
3   8    d

In [164]:
pd.merge(dd1,dd2,on='ID')

   ID NAME_x NAME_y
0   5      a      a
1   6      b      b
2   7      c      c
3   8      d      d

In [ ]:
pd.merge(dd1,dd2,on='ID')